In [1]:
import pandas as pd
import random
 
# read the data from the downloaded CSV file.
data = pd.read_csv('https://s3-eu-west-1.amazonaws.com/shanebucket/downloads/uk-500.csv')
# set a numeric id for use as an index for examples.
data['id'] = [random.randint(0,1000) for x in range(data.shape[0])]
 
data.head(5)

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web,id
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk,144
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk,202
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,35
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk,908
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,769

# Selecting pandas data using “iloc”

    - The iloc indexer for Pandas Dataframe is used for integer-location based indexing / selection by position.
    - The iloc indexer syntax is data.iloc[<row selection>, <column selection>]
    - “iloc” in pandas is used to select rows and columns by number, in the order that they appear in the data frame.
    - There are two “arguments” to iloc – a row selector, and a column selector.

In [2]:
# Single selections using iloc and DataFrame
# Rows:
print(data.iloc[0]) # first row of data frame (Aleshia Tomkiewicz) - Note a Series data type output.
print('-------------------------')
print(data.iloc[1]) # second row of data frame (Evan Zigomalas)
print('-------------------------')
print(data.iloc[-1]) # last row of data frame (Mi Richan)

first_name                                   Aleshia
last_name                                 Tomkiewicz
company_name                 Alan D Rosenburg Cpa Pc
address                                 14 Taylor St
city                               St. Stephens Ward
county                                          Kent
postal                                       CT2 7PP
phone1                                  01835-703597
phone2                                  01944-369967
email                        atomkiewicz@hotmail.com
web             http://www.alandrosenburgcpapc.co.uk
id                                               603
Name: 0, dtype: object
-------------------------
first_name                                   Evan
last_name                               Zigomalas
company_name                   Cap Gemini America
address                               5 Binney St
city                                   Abbey Ward
county                            Buckinghamshire
postal                                   HP11 2AX
phone1                               01937-864715
phone2                               01714-737668
email                    evan.zigomalas@gmail.com
web             http://www.capgeminiamerica.co.uk
id                                            565
Name: 1, dtype: object
-------------------------
first_name                                               Mi
last_name                                            Richan
company_name                 Nelson Wright Haworth Golf Crs
address                                     6 Norwood Grove
city                                      Tanworth-in-Arden
county                                         Warwickshire
postal                                              B94 5RZ
phone1                                         01451-785624
phone2                                         01202-738406
email                                        mi@hotmail.com
web             http://www.nelsonwrighthaworthgolfcrs.co.uk
id                                                      870
Name: 499, dtype: object

In [3]:
# Columns:
print(data.iloc[:,0]) # first column of data frame (first_name)
print('-------------------------')
print(data.iloc[:,1]) # second column of data frame (last_name)
print('-------------------------')
print(data.iloc[:,-1]) # last column of data frame (id)

0        Aleshia
1           Evan
2         France
3        Ulysses
4         Tyisha
         ...
495        Avery
496         Reid
497    Charlette
498    Celestina
499           Mi
Name: first_name, Length: 500, dtype: object
-------------------------
0      Tomkiewicz
1       Zigomalas
2         Andrade
3       Mcwalters
4          Veness
          ...
495          Veit
496       Euresti
497      Brenning
498         Keeny
499        Richan
Name: last_name, Length: 500, dtype: object
-------------------------
0      603
1      565
2      726
3      987
4      351
      ...
495    511
496    420
497     89
498     30
499    870
Name: id, Length: 500, dtype: int64

    - Multiple columns and rows can be selected together using the .iloc indexer.

In [4]:
# Multiple row and column selections using iloc and DataFrame
print(data.iloc[0:5]) # first five rows of dataframe
print('--------------------------------------------------')
print(data.iloc[:, 0:2]) # first two columns of data frame with all rows
print('--------------------------------------------------')
print(data.iloc[[0,3,6,24], [0,5,6]]) # 1st, 4th, 7th, 25th row + 1st 6th 7th columns.
print('--------------------------------------------------')
print(data.iloc[0:5, 5:8]) # first 5 rows and 5th, 6th, 7th columns of data frame (county -> phone1).

  first_name   last_name             company_name            address  \
0    Aleshia  Tomkiewicz  Alan D Rosenburg Cpa Pc       14 Taylor St
1       Evan   Zigomalas       Cap Gemini America        5 Binney St
2     France     Andrade      Elliott, John W Esq       8 Moor Place
3    Ulysses   Mcwalters           Mcmahan, Ben L      505 Exeter Rd
4     Tyisha      Veness           Champagne Room  5396 Forth Street

                             city           county    postal        phone1  \
0               St. Stephens Ward             Kent   CT2 7PP  01835-703597
1                      Abbey Ward  Buckinghamshire  HP11 2AX  01937-864715
2  East Southbourne and Tuckton W      Bournemouth   BH6 3BE  01347-368222
3              Hawerby cum Beesby     Lincolnshire  DN36 5RP  01912-771311
4      Greets Green and Lyng Ward    West Midlands   B70 9DT  01547-429341

         phone2                       email  \
0  01944-369967     atomkiewicz@hotmail.com
1  01714-737668    evan.zigomalas@gmail.com
2  01935-821636  france.andrade@hotmail.com
3  01302-601380         ulysses@hotmail.com
4  01290-367248   tyisha.veness@hotmail.com

                                    web   id
0  http://www.alandrosenburgcpapc.co.uk  603
1     http://www.capgeminiamerica.co.uk  565
2      http://www.elliottjohnwesq.co.uk  726
3          http://www.mcmahanbenl.co.uk  987
4        http://www.champagneroom.co.uk  351
--------------------------------------------------
    first_name   last_name
0      Aleshia  Tomkiewicz
1         Evan   Zigomalas
2       France     Andrade
3      Ulysses   Mcwalters
4       Tyisha      Veness
..         ...         ...
495      Avery        Veit
496       Reid     Euresti
497  Charlette    Brenning
498  Celestina       Keeny
499         Mi      Richan

[500 rows x 2 columns]
--------------------------------------------------
   first_name        county    postal
0     Aleshia          Kent   CT2 7PP
3     Ulysses  Lincolnshire  DN36 5RP
6        Marg   Southampton  SO14 3TY
24       Tess   West Sussex  PO19 1RH
--------------------------------------------------
            county    postal        phone1
0             Kent   CT2 7PP  01835-703597
1  Buckinghamshire  HP11 2AX  01937-864715
2      Bournemouth   BH6 3BE  01347-368222
3     Lincolnshire  DN36 5RP  01912-771311
4    West Midlands   B70 9DT  01547-429341

## NOTE:

<font  color="red"> 1. Note that .iloc returns a Pandas Series when one row is selected, and a Pandas DataFrame when multiple rows are selected, or if any column in full is selected. To counter this, pass a single-valued list if you require DataFrame output.</font>

<font  color="red">When selecting multiple columns or multiple rows in this manner, remember that in your selection e.g.[1:5], the rows/columns selected will run from the first number to one minus the second number. e.g. [1:5] will go 1,2,3,4., [x,y] goes from x to y-1. </font>

#  Selecting pandas data using “loc”

The Pandas loc indexer can be used with DataFrames for two different use cases:

    - a.) Selecting rows by label/index

    - b.) Selecting rows with a boolean / conditional lookup
    
The loc indexer is used with the same syntax as iloc: data.loc[<row selection>, <column selection>] .

## 2a. Label-based / Index-based indexing using .loc

In [5]:
data.head()

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web,id
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk,603
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk,565
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,726
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk,987
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,351

In [6]:
data.set_index("last_name", inplace=True)
data.head()

,first_name,company_name,address,city,county,postal,phone1,phone2,email,web,id
last_name,,,,,,,,,,,
Tomkiewicz,Aleshia,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk,603
Zigomalas,Evan,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk,565
Andrade,France,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,726
Mcwalters,Ulysses,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk,987
Veness,Tyisha,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,351

In [11]:
data.loc['Andrade']

first_name                                France
company_name                 Elliott, John W Esq
address                             8 Moor Place
city              East Southbourne and Tuckton W
county                               Bournemouth
postal                                   BH6 3BE
phone1                              01347-368222
phone2                              01935-821636
email                 france.andrade@hotmail.com
web             http://www.elliottjohnwesq.co.uk
id                                           726
Name: Andrade, dtype: object

In [14]:
data.loc[['Andrade','Veness']]

,first_name,company_name,address,city,county,postal,phone1,phone2,email,web,id
last_name,,,,,,,,,,,
Andrade,France,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,726
Veness,Tyisha,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,351

## Note :

Selecting single or multiple rows using .loc index selections with pandas. 

<font color="red">Note that the first example returns a series, and the second returns a DataFrame.You can achieve a single-column DataFrame by passing a single-element list to the .loc operation. </font>

In [15]:
# Select rows with index values 'Andrade' and 'Veness', with all columns between 'city' and 'email'
data.loc[['Andrade', 'Veness'], 'city':'email']

,city,county,postal,phone1,phone2,email
last_name,,,,,,
Andrade,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com
Veness,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com

In [16]:
# Select same rows, with just 'first_name', 'address' and 'city' columns
data.loc['Andrade':'Veness', ['first_name', 'address', 'city']]

          first_name            address                            city
last_name
Andrade       France       8 Moor Place  East Southbourne and Tuckton W
Mcwalters    Ulysses      505 Exeter Rd              Hawerby cum Beesby
Veness        Tyisha  5396 Forth Street      Greets Green and Lyng Ward

In [17]:
# Change the index to be based on the 'id' column
data.set_index('id', inplace=True)

In [18]:
# select the row with 'id' = 487
data.loc[487]

first_name                                   Lindsay
company_name                 Lutz, Christopher T Esq
address                                7 Jolliffe St
city                                      Middlewich
county                                      Cheshire
postal                                      CW10 9GB
phone1                                  01947-566661
phone2                                  01481-295251
email                      lindsay_yadao@yadao.co.uk
web             http://www.lutzchristophertesq.co.uk
Name: 487, dtype: object

In [19]:
data.iloc[487]

first_name                                        Isabelle
company_name                  Rock Springs Petroleum Equip
address                                 4920 Fazakerley Rd
city                               Plymstock Dunstone Ward
county                                               Devon
postal                                             PL9 8RD
phone1                                        01552-682601
phone2                                        01953-816728
email                              isabelle.kono@yahoo.com
web             http://www.rockspringspetroleumequip.co.uk
Name: 147, dtype: object

# Boolean / Logical indexing using .loc

In [21]:
data.loc[data['first_name'] == 'Erasmo', ['company_name','email','phone1']]

           company_name                         email        phone1
id
986  Active Air Systems  erasmo.talentino@hotmail.com  01492-454455
364            Pan Optx             egath@hotmail.com  01445-796544
430    Martin Morrissey       erasmo_rhea@hotmail.com  01507-386397

In [22]:
data.loc[data['first_name'] == 'Antonio','email']

id
968       antonio.villamarin@gmail.com
369    antonio_glasford@glasford.co.uk
666           antonio.heilig@gmail.com
Name: email, dtype: object

In [23]:
data.loc[data['first_name'] == 'Antonio',['email']]

                               email
id
968     antonio.villamarin@gmail.com
369  antonio_glasford@glasford.co.uk
666         antonio.heilig@gmail.com

In [24]:
# Select rows with first name Antonio, # and all columns between 'city' and 'email'
data.loc[data['first_name'] == 'Antonio', 'city':'email']

,city,county,postal,phone1,phone2,email
id,,,,,,
968,Little Parndon and Hare Street,Hertfordshire,CM20 2HT,01559-403415,01388-777812,antonio.villamarin@gmail.com
369,Gaer Community,Newport,NP20 3DE,01463-409090,01242-318420,antonio_glasford@glasford.co.uk
666,Ipplepen,Devon,TQ12 5LL,01324-171614,01442-946357,antonio.heilig@gmail.com

In [25]:
# Select rows where the email column ends with 'hotmail.com', include all columns
data.loc[data['email'].str.endswith("hotmail.com")]

,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
id,,,,,,,,,,
603,Aleshia,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
726,France,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
987,Ulysses,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
351,Tyisha,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk
737,Marg,Wrangle Hill Auto Auct & Slvg,7457 Cowl St #70,Bargate Ward,Southampton,SO14 3TY,01865-582516,01362-620532,marg@hotmail.com,http://www.wranglehillautoauctslvg.co.uk
...,...,...,...,...,...,...,...,...,...,...
161,Sophia,T C E Systems Inc,88 Upper Harrington St,North East Ward,North Lanarkshire,G69 8EL,01504-539114,01254-919378,sophia.gaucher@hotmail.com,http://www.tcesystemsinc.co.uk
606,Rosita,"Jurdem, Scott Esq",8 Heathfield St #657,Hailsham,East Sussex,BN27 1AJ,01273-236188,01997-765432,rausdemore@hotmail.com,http://www.jurdemscottesq.co.uk
275,Huey,Lindner Funds,275 Peel Sq,Park Ward,North Eart Lincolnshire,DN32 0PT,01502-139578,01468-195646,hstancil@hotmail.com,http://www.lindnerfunds.co.uk
610,Elbert,"Donald, G Nelson Esq",726 Westmoreland Place,Ballochmyle Ward,East Ayrshire,KA5 6EL,01724-467889,01992-537553,elbert@hotmail.com,http://www.donaldgnelsonesq.co.uk
870,Mi,Nelson Wright Haworth Golf Crs,6 Norwood Grove,Tanworth-in-Arden,Warwickshire,B94 5RZ,01451-785624,01202-738406,mi@hotmail.com,http://www.nelsonwrighthaworthgolfcrs.co.uk

In [2]:
# Select rows with last_name equal to some values, all columns
data.loc[data['first_name'].isin(['France', 'Tyisha', 'Eric'])]

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web,id
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,35
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,769
5,Eric,Rampy,"Thompson, Michael C Esq",9472 Lind St,Desborough,Northamptonshire,NN14 2GH,01969-886290,01545-817375,erampy@rampy.co.uk,http://www.thompsonmichaelcesq.co.uk,367

In [27]:
# Select rows with first name Antonio AND hotmail email addresses
data.loc[data['email'].str.endswith("gmail.com") & (data['first_name'] == 'Antonio')]

,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
id,,,,,,,,,,
968,Antonio,Combs Sheetmetal,353 Standish St #8264,Little Parndon and Hare Street,Hertfordshire,CM20 2HT,01559-403415,01388-777812,antonio.villamarin@gmail.com,http://www.combssheetmetal.co.uk
666,Antonio,Radisson Suite Hotel,35 Elton St #3,Ipplepen,Devon,TQ12 5LL,01324-171614,01442-946357,antonio.heilig@gmail.com,http://www.radissonsuitehotel.co.uk

In [5]:
data.loc[data['email'].str.endswith("gmail.com") | data['email'].str.endswith("hotmail.com")]

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web,id
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk,144
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk,202
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,35
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk,908
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,769
...,...,...,...,...,...,...,...,...,...,...,...,...
491,Huey,Stancil,Lindner Funds,275 Peel Sq,Park Ward,North Eart Lincolnshire,DN32 0PT,01502-139578,01468-195646,hstancil@hotmail.com,http://www.lindnerfunds.co.uk,162
492,Elbert,Fiorino,"Donald, G Nelson Esq",726 Westmoreland Place,Ballochmyle Ward,East Ayrshire,KA5 6EL,01724-467889,01992-537553,elbert@hotmail.com,http://www.donaldgnelsonesq.co.uk,890
494,Alesia,Katie,Nelsons Trmt & Pest Cntrl Co,4 Covent Garden,Farnworth Ward,Greater Manchester,BL4 7AF,01333-436799,01240-614527,alesia_katie@gmail.com,http://www.nelsonstrmtpestcntrlco.co.uk,561
498,Celestina,Keeny,Bfg Federal Credit Union,9 Milton St,Consett North ED,County Durham,DH8 5LP,01877-379681,01600-463475,celestina_keeny@gmail.com,http://www.bfgfederalcreditunion.co.uk,354
499,Mi,Richan,Nelson Wright Haworth Golf Crs,6 Norwood Grove,Tanworth-in-Arden,Warwickshire,B94 5RZ,01451-785624,01202-738406,mi@hotmail.com,http://www.nelsonwrighthaworthgolfcrs.co.uk,890

In [32]:
# select rows with id column between 100 and 200, and just return 'postal' and 'web' columns
data.loc[(data.index > 100) & (data.index <= 200), ['postal', 'web']]

       postal                                           web
id
146   DA2 7PP              http://www.krassociatesinc.co.uk
111  EX39 5DJ           http://www.rittenhousemotorco.co.uk
135  DY11 9BW       http://www.bridgewayplanforhealth.co.uk
197  SE14 6RQ                http://www.welderssupply.co.uk
158  DN12 4JF                 http://www.omnimandalay.co.uk
111  BN15 9BN                  http://www.budgetannex.co.uk
191   BA3 5SJ  http://www.alternativecollectionsvcinc.co.uk
189  AB53 6YD      http://www.manhattansupplycodeerpk.co.uk
159   PE4 6HB                  http://www.typesetters.co.uk
186   FY3 8ND   http://www.jeanettesdraperyupholstery.co.uk
159  TR11 5RR             http://www.carlinangelagesq.co.uk
154   BB9 6EW                   http://www.haarallenf.co.uk
130   B61 8HD                  http://www.newtonclerk.co.uk
162   SR6 9SD             http://www.holidayhouseapts.co.uk
134  CF48 1AR       http://www.ordraymenwarehousemans.co.uk
182    S5 8LL   http://www.genevawoodsprofessionalctr.co.uk
141   HP6 6JH    http://www.visitingnurassnctrljersey.co.uk
174  OL10 2DU                 http://www.ccindustries.co.uk
149  DA11 8RN     http://www.lmindustrialchemicalsinc.co.uk
128   CV6 4BN             http://www.sadowskijeffreya.co.uk
130  NR12 0YB          http://www.jimdunnambuilderinc.co.uk
200   BN2 4TL          http://www.charlesscavadinicic.co.uk
186  LL34 6BH          http://www.sheplerswesternwear.co.uk
101   DT8 3DR             http://www.bremerduncansesq.co.uk
129   NE6 2RX    http://www.fireprotectionconsultants.co.uk
119   CV6 5RS            http://www.chomskycharlesesq.co.uk
125   BR3 6SX                    http://www.dustbooks.co.uk
118   EX1 3SF           http://www.dandeebeltbagcoinc.co.uk
185  LS10 1SJ         http://www.guadalajarabargrille.co.uk
115   RG1 5EX        http://www.ringointernationalinc.co.uk
127  NG11 6JT        http://www.mitchellsillimancoinc.co.uk
127  FK16 6DU               http://www.farbermindyesq.co.uk
121    N2 9JL            http://www.barkerelectronics.co.uk
149  FK10 2LA           http://www.anstoettermarkdesq.co.uk
124   BB2 6LB         http://www.americanfinefoodsinc.co.uk
152  DY10 2ZQ                 http://www.rexinternatl.co.uk
173   TQ7 4NF         http://www.wordimageworkshopinc.co.uk
170   B14 5HS         http://www.bayouweldingworksinc.co.uk
182   SN5 8WG            http://www.jehconstructionco.co.uk
139  KA26 0DY        http://www.reliablemetalcraftinc.co.uk
134   HA6 1AN       http://www.mcdonaldservicestation.co.uk
195  NG15 9AE  http://www.magicvalleyirrigationsupply.co.uk
146  LL28 4NL        http://www.quantumconsultantsinc.co.uk
180   SR7 0AZ        http://www.hasselbergmichaelresq.co.uk
124  NR23 1NJ         http://www.directtoolsfasteners.co.uk
169    N1 4RF        http://www.appliedrobotictechinc.co.uk
151   LS1 8HZ                      http://www.ezaksco.co.uk
169   LA6 1DB          http://www.centerforpediatrics.co.uk
178  EH52 5PY           http://www.horizonairmagazine.co.uk
165   UB1 2FH            http://www.millerwilliameiii.co.uk
119  CH45 4RN          http://www.capitalfastenersinc.co.uk
154   RG1 9XH               http://www.kellerraymondc.co.uk
161   G69 8EL                http://www.tcesystemsinc.co.uk
147   PL9 8RD    http://www.rockspringspetroleumequip.co.uk

In [33]:
# A lambda function that yields True/False values can also be used.
# Select rows where the company name has 4 words in it.
data.loc[data['company_name'].apply(lambda x: len(x.split(' ')) == 4)]

,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
id,,,,,,,,,,
726,France,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
91,Eric,"Thompson, Michael C Esq",9472 Lind St,Desborough,Northamptonshire,NN14 2GH,01969-886290,01545-817375,erampy@rampy.co.uk,http://www.thompsonmichaelcesq.co.uk
770,Charlesetta,"Cain, John M Esq",5 Hygeia St,Loundsley Green Ward,Derbyshire,S40 4LY,01276-816806,01517-624517,charlesetta_erm@gmail.com,http://www.cainjohnmesq.co.uk
594,Michell,Weiss Spirt & Guyer,89 Noon St,Carbrooke,Norfolk,IP25 6JQ,01967-580851,01672-496478,mthrossell@throssell.co.uk,http://www.weissspirtguyer.co.uk
339,Edgar,"Crowan, Kenneth W Esq",99 Guthrie St,New Milton,Hampshire,BH25 5DF,01326-532337,01666-638176,edgar.kanne@yahoo.com,http://www.crowankennethwesq.co.uk
...,...,...,...,...,...,...,...,...,...,...
783,Ahmad,Alliance Construction Co Inc,21 Pickwick St,Sutton cum Duckmanton,Derbyshire,S44 5DS,01567-555570,01852-550588,ahmad.alsaqri@yahoo.com,http://www.allianceconstructioncoinc.co.uk
961,Jacquelyne,Great Clips For Hair,70 Lilly Rd,Shirley Ward,Greater London,CR0 7PT,01846-581451,01850-754504,jacquelyne_reibman@yahoo.com,http://www.greatclipsforhair.co.uk
147,Isabelle,Rock Springs Petroleum Equip,4920 Fazakerley Rd,Plymstock Dunstone Ward,Devon,PL9 8RD,01552-682601,01953-816728,isabelle.kono@yahoo.com,http://www.rockspringspetroleumequip.co.uk
610,Elbert,"Donald, G Nelson Esq",726 Westmoreland Place,Ballochmyle Ward,East Ayrshire,KA5 6EL,01724-467889,01992-537553,elbert@hotmail.com,http://www.donaldgnelsonesq.co.uk
30,Celestina,Bfg Federal Credit Union,9 Milton St,Consett North ED,County Durham,DH8 5LP,01877-379681,01600-463475,celestina_keeny@gmail.com,http://www.bfgfederalcreditunion.co.uk

In [11]:
# Selections can be achieved outside of the main .loc for clarity:
# Form a separate variable with your selections:
idx = data['company_name'].apply(lambda x: len(x.split(' ')) == 4)

In [12]:
idx

0      False
1      False
2       True
3      False
4      False
       ...
495    False
496    False
497    False
498     True
499    False
Name: company_name, Length: 500, dtype: bool

In [13]:
# Select only the True values in 'idx' and only the 3 columns specified:
data.loc[idx, ['email', 'first_name', 'company_name']]

                            email   first_name                  company_name
2      france.andrade@hotmail.com       France           Elliott, John W Esq
5              erampy@rampy.co.uk         Eric       Thompson, Michael C Esq
11      charlesetta_erm@gmail.com  Charlesetta              Cain, John M Esq
15     mthrossell@throssell.co.uk      Michell           Weiss Spirt & Guyer
16          edgar.kanne@yahoo.com        Edgar         Crowan, Kenneth W Esq
..                            ...          ...                           ...
481       ahmad.alsaqri@yahoo.com        Ahmad  Alliance Construction Co Inc
484  jacquelyne_reibman@yahoo.com   Jacquelyne          Great Clips For Hair
487       isabelle.kono@yahoo.com     Isabelle  Rock Springs Petroleum Equip
492            elbert@hotmail.com       Elbert          Donald, G Nelson Esq
498     celestina_keeny@gmail.com    Celestina      Bfg Federal Credit Union

[192 rows x 3 columns]

# Setting values in DataFrames using .loc

In [45]:
# Change the first name of all rows with an ID greater than 2000 to "John"
data.loc[data.index > 600, "first_name"] = "John"

In [46]:
data[data.first_name == "John"]

,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
id,,,,,,,,,,
603,John,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
726,John,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
987,John,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
737,John,Wrangle Hill Auto Auct & Slvg,7457 Cowl St #70,Bargate Ward,Southampton,SO14 3TY,01865-582516,01362-620532,marg@hotmail.com,http://www.wranglehillautoauctslvg.co.uk
913,John,Max Video,45 Bradfield St #166,Parwich,Derbyshire,DE6 1QN,01903-649460,01933-512513,yuette.klapec@klapec.co.uk,http://www.maxvideo.co.uk
...,...,...,...,...,...,...,...,...,...,...
783,John,Alliance Construction Co Inc,21 Pickwick St,Sutton cum Duckmanton,Derbyshire,S44 5DS,01567-555570,01852-550588,ahmad.alsaqri@yahoo.com,http://www.allianceconstructioncoinc.co.uk
961,John,Great Clips For Hair,70 Lilly Rd,Shirley Ward,Greater London,CR0 7PT,01846-581451,01850-754504,jacquelyne_reibman@yahoo.com,http://www.greatclipsforhair.co.uk
606,John,"Jurdem, Scott Esq",8 Heathfield St #657,Hailsham,East Sussex,BN27 1AJ,01273-236188,01997-765432,rausdemore@hotmail.com,http://www.jurdemscottesq.co.uk
610,John,"Donald, G Nelson Esq",726 Westmoreland Place,Ballochmyle Ward,East Ayrshire,KA5 6EL,01724-467889,01992-537553,elbert@hotmail.com,http://www.donaldgnelsonesq.co.uk
870,John,Nelson Wright Haworth Golf Crs,6 Norwood Grove,Tanworth-in-Arden,Warwickshire,B94 5RZ,01451-785624,01202-738406,mi@hotmail.com,http://www.nelsonwrighthaworthgolfcrs.co.uk