# Python Pandas : Day 1

The *pandas* package is the most important tool at the disposal of Data Scientists and Analysts working in Python today. The powerful machine learning and glamorous visualization tools may get all the attention, but pandas is the backbone of most data projects. 

>\[*pandas*\] is derived from the term "**pan**el **da**ta", an econometrics term for data sets that include observations over multiple time periods for the same individuals. — [Wikipedia](https://en.wikipedia.org/wiki/Pandas_%28software%29)

If you're thinking about data science as a career, then it is imperative that one of the first things you do is learn pandas. In this post, we will go over the essential bits of information about pandas, including how to install it, its uses, and how it works with other common Python data analysis packages such as **matplotlib** and **sci-kit learn**.

<img src="resources/pandas_popularity.png" width=500px />

## What's Pandas for?

Pandas has so many uses that it might make sense to list the things it can't do instead of what it can do. 

This tool is essentially your data’s home. Through pandas, you get acquainted with your data by cleaning, transforming, and analyzing it. 

For example, say you want to explore a dataset stored in a CSV on your computer. Pandas will extract the data from that CSV into a DataFrame — a table, basically — then let you do things like:

- Calculate statistics and answer questions about the data, like


    - What's the average, median, max, or min of each column? 
    - Does column A correlate with column B?
    - What does the distribution of data in column C look like?


- Clean the data by doing things like removing missing values and filtering rows or columns by some criteria


- Visualize the data with help from Matplotlib. Plot bars, lines, histograms, bubbles, and more. 


- Store the cleaned, transformed data back into a CSV, other file or database


Before you jump into the modeling or the complex visualizations you need to have a good understanding of the nature of your dataset and pandas is the best avenue through which to do that.

## How does pandas fit into the data science toolkit?

Not only is the pandas library a central component of the data science toolkit but it is used in conjunction with other libraries in that collection. 

Pandas is built on top of the **NumPy** package, meaning a lot of the structure of NumPy is used or replicated in Pandas. Data in pandas is often used to feed statistical analysis in **SciPy**, plotting functions from **Matplotlib**, and machine learning algorithms in **Scikit-learn**.

## Pandas First Steps

### Install and import
Pandas is an easy package to install. Open up your terminal program (for Mac users) or command line (for PC users) and install it using either of the following commands:

`conda install pandas`

OR 

`pip install pandas`

In [ ]:
#!pip install pandas

In [ ]:
import pandas as pd

### Checking pandas version

In [2]:
import pandas as pd

print(pd.__version__)

1.4.2

## Core components of pandas: Series and DataFrames

The primary two components of pandas are the `Series` and `DataFrame`. 

A `Series` is essentially a column, and a `DataFrame` is a multi-dimensional table made up of a collection of Series. 
|
<img src="resources/series-and-dataframe.png" width=600px />

DataFrames and Series are quite similar in that many operations that you can do with one you can do with the other, such as filling in null values and calculating the mean.

You'll see how these components work when we start working with data below.

### Pandas Data Structure

pandas introduces two new data structures to Python - **Series and DataFrame**, both of which are built on top of NumPy (this means it's fast).

In [1]:
import pandas
import numpy
#import matplotlib.pyplot as plt
pandas.set_option('max_colwidth', 0)

### Series

- A Series is a one-dimensional object similar to an array, list, or column in a table. 
- It will assign a labeled index to each item in the Series. 
- By default, each item will receive an index label from 0 to N, where N is the length of the Series minus one.

In [2]:
# create a Series with an arbitrary list

import pandas

pandas.set_option('max_colwidth', 2)

s = pandas.Series([7, 'Heisenberg', 3.14, -1789710578, 'Happy Eating!'])
print(s)

0    7
1    Heisenberg
2    3.14
3    -1789710578
4    Happy Eating!
dtype: object

Alternatively, you can specify an index to use when creating the Series.

In [5]:
import pandas

s = pandas.Series([7, 'Heisenberg', 3.14, -1789710578, 'Happy Eating!'], index = ['A', 'Z', 'C', 'Y', 'E'])
s2 = pandas.Series([7, 'Heisenberg', 3.14, -1789710578, 'Happy Eating!'], index = [1, 2, 3, 4, 5])
print(s, "\n")
print(s2)

A    7
Z    Heisenberg
C    3.14
Y    -1789710578
E    Happy Eating!
dtype: object

1    7
2    Heisenberg
3    3.14
4    -1789710578
5    Happy Eating!
dtype: object

The Series constructor can convert a dictonary as well, using the keys of the dictionary as its index.

In [8]:
import pandas

d = {'Chicago': 1000, 'New York': 1300, 'Portland': 900, 'San Francisco': 1100, 'Austin': 450, 'Boston': None}

cities = pandas.Series(d)

print("1.\n")
print(cities)
print("\n")

print("2.\n")
print(cities['Chicago'])
print("\n")

print("3.\n")
print(cities[['Chicago']])
print("\n")

print("4.\n")
print(cities[['Chicago', 'Portland', 'San Francisco']])
print("\n")

print("5.\n")
print(cities[cities < 1000])
print("\n")


print("6.\n")
less_than_1000 = cities < 1000
print(less_than_1000)
print("\n")

print("7.\n")
print(cities[less_than_1000])
print("\n")

cities[cities < 1000] = 750
print("8.\n")
print(cities[cities < 1000])
print("\n")

print('Seattle' in cities)
print('San Francisco' in cities)
print("\n")

print("9.\n")
print(cities[['Chicago', 'New York', 'Portland']])
print("\n")

print('10.\n')
print(cities[['Austin', 'New York']])
print("\n")

print('11.\n')
print(cities[['Chicago', 'New York', 'Portland']] + cities[['Austin', 'New York']])
print("\n")

1.

Chicago          1000.0
New York         1300.0
Portland         900.0
San Francisco    1100.0
Austin           450.0
Boston          NaN
dtype: float64


2.

1000.0


3.

Chicago    1000.0
dtype: float64


4.

Chicago          1000.0
Portland         900.0
San Francisco    1100.0
dtype: float64


5.

Portland    900.0
Austin      450.0
dtype: float64


6.

Chicago          False
New York         False
Portland         True
San Francisco    False
Austin           True
Boston           False
dtype: bool


7.

Portland    900.0
Austin      450.0
dtype: float64


8.

Portland    750.0
Austin      750.0
dtype: float64


False
True


9.

Chicago     1000.0
New York    1300.0
Portland    750.0
dtype: float64


10.

Austin      750.0
New York    1300.0
dtype: float64


11.

Austin     NaN
Chicago    NaN
New York    2600.0
Portland   NaN
dtype: float64

You can use the index to select specific items from the Series ...

Or you can use boolean indexing for selection.

That last one might be a little weird, so let's make it more clear - cities < 1000 returns a Series of True/False values, which we then pass to our Series cities, returning the corresponding True items.

In [ ]:
less_than_1000 = cities < 1000
print(less_than_1000)
print('\n')
print(cities[less_than_1000])

You can also change the values in a Series on the fly.

In [ ]:
# changing based on the index
print('Old value:', cities['Chicago'])
cities['Chicago'] = 1400
print('New value:', cities['Chicago'])

In [ ]:
# changing values using boolean logic
print(cities[cities < 1000])
print('\n')
cities[cities < 1000] = 750

print(cities[cities < 1000])

What if you aren't sure whether an item is in the Series? You can check using idiomatic Python.

In [ ]:
cities

In [2]:
print('Seattle' in cities)
print('San Francisco' in cities)

NameError: name 'cities' is not defined

Mathematical operations can be done using scalars and functions.

In [ ]:
# divide city values by 3
cities / 3

In [28]:
# square city values
import numpy

d = {'Chicago': 1000, 'New York': 1300, 'Portland': 900, 'San Francisco': 1100, 'Austin': 450, 'Boston': None}

cities = pandas.Series(d)

print(numpy.square(cities))

Chicago          1000000.0
New York         1690000.0
Portland         810000.0
San Francisco    1210000.0
Austin           202500.0
Boston          NaN
dtype: float64

You can add two Series together, which returns a union of the two Series with the addition occurring on the shared index values. 

Values on either Series that did not have a shared index will produce a NULL/NaN (not a number).

In [ ]:
cities

In [3]:
print(cities[['Chicago', 'New York', 'Portland']])
print('\n')
print(cities[['Austin', 'New York']])
print('\n')
print(cities[['Chicago', 'New York', 'Portland']] + cities[['Austin', 'New York']])

NameError: name 'cities' is not defined

*** Notice that because Austin, Chicago, and Portland were not found in both Series, they were returned with NULL/NaN values. ***

NULL checking can be performed with isnull and notnull.

In [ ]:
cities.notnull()

In [ ]:
# returns a boolean series indicating which values aren't NULL
cities.notnull()

In [9]:
# use boolean logic to grab the NULL cities
print(cities.isnull())
print('\n')
print(cities[cities.isnull()])

Chicago          False
New York         False
Portland         False
San Francisco    False
Austin           False
Boston           True
dtype: bool


Boston   NaN
dtype: float64

### Dataframe

A DataFrame is a tablular data structure comprised of rows and columns, akin to a spreadsheet, database table, or R's data.frame object.

You can also think of a DataFrame as a group of Series objects that share an index (the column names).

In [13]:
import pandas

data1 = {'apples': [3, 2, 0, 1]}
data2 = {'apples': [3, 2, 0, 1], 'oranges': [0, 3, 7, 2]}

purchases1 = pandas.DataFrame(data1)
purchases2 = pandas.DataFrame(data2)
purchases3 = pandas.DataFrame(data2, index = [1, 2, 3, 4])

print(purchases1)
print("\n\n")
print(purchases2)
print("\n\n")
print(purchases3)

   apples
0  3
1  2
2  0
3  1



   apples  oranges
0  3       0
1  2       3
2  0       7
3  1       2



   apples  oranges
1  3       0
2  2       3
3  0       7
4  1       2

**How did that work?**

Each *(key, value)* item in `data` corresponds to a *column* in the resulting DataFrame.

The **Index** of this DataFrame was given to us on creation as the numbers 0-3, but we could also create our own when we initialize the DataFrame. 

Let's have customer names as our index:

In [35]:
import pandas

data = {'apples': [3, 2, 0, 1], 'oranges': [0, 3, 7, 2]}

purchases1 = pandas.DataFrame(data)

purchases2 = pandas.DataFrame(data, index = ['June', 'Robert', 'Lily', 'David'])

print(purchases1, end = "\n\n")

print(purchases2, end = "\n\n")

print(purchases.loc['June'])

   apples  oranges
0  3       0
1  2       3
2  0       7
3  1       2

        apples  oranges
June    3       0
Robert  2       3
Lily    0       7
David   1       2

apples     3
oranges    0
Name: June, dtype: int64

So now we could **loc**ate a customer's order by using their name:

In [ ]:
purchases.loc['June']

## How to read in data

It’s quite simple to load data from various file formats into a DataFrame. In the following examples we'll keep using our apples and oranges data, but this time it's coming from various files.

### Reading data from CSVs

With CSV files all you need is a single line to load in the data:

In [36]:
import pandas

df = pandas.read_csv('resources/purchases.csv')

print(df)

  Unnamed: 0  apples  oranges
0  June       3       0
1  Robert     2       3
2  Lily       0       7
3  David      1       2

CSVs don't have indexes like our DataFrames, so all we need to do is just designate the `index_col` when reading:

In [17]:
import pandas

df = pandas.read_csv('resources/purchases.csv')

print(df, end = "\n\n")

df = pandas.read_csv('resources/purchases.csv', index_col = 0)

print(df, end = "\n\n")

df = pandas.read_csv('resources/purchases.csv', index_col = 1)

print(df, end = "\n\n")

df = pandas.read_csv('resources/purchases.csv', index_col = 2)

print(df, end = "\n\n")

  Unnamed: 0  apples  oranges
0  June       3       0
1  Robert     2       3
2  Lily       0       7
3  David      1       2

        apples  oranges
June    3       0
Robert  2       3
Lily    0       7
David   1       2

       Unnamed: 0  oranges
apples
3       June       0
2       Robert     3
0       Lily       7
1       David      2

        Unnamed: 0  apples
oranges
0        June       3
3        Robert     2
7        Lily       0
2        David      1

Here we're setting the index to be column zero.

You'll find that most CSVs won't ever have an index column and so usually you don't have to worry about this step.

### Reading data from JSON

If you have a JSON file — which is essentially a stored Python `dict` — pandas can read this just as easily:

In [41]:
import pandas

df = pandas.read_json('resources/purchases.json')

print(df)

        apples  oranges
June    3       0
Robert  2       3
Lily    0       7
David   1       2

Notice this time our index came with us correctly since using JSON allowed indexes to work through nesting. Feel free to open `data_file.json` in a notepad so you can see how it works.


### Reading data from a SQL database

If you’re working with data from a SQL database you need to first establish a connection using an appropriate Python library, then pass a query to pandas. Here we'll use SQLite to demonstrate. 

First, we need `pysqlite3` installed, so run this command in your terminal:

In [ ]:
#!pip install pysqlite3

`sqlite3` is used to create a connection to a database which we can then use to generate a DataFrame through a `SELECT` query.

So first we'll make a connection to a SQLite database file:

In [43]:
import sqlite3
import pandas

con = sqlite3.connect("resources/database.db")

df = pandas.read_sql_query("SELECT * FROM purchases", con)

print(df)

    index  apples  oranges
0  June    3       0
1  Robert  2       3
2  Lily    0       7
3  David   1       2

### Converting back to a CSV, JSON, or SQL

In [ ]:
df.to_csv('new_purchases.csv')

df.to_json('new_purchases.json')

#df.to_sql('new_purchases', con)

When we save JSON and CSV files, all we have to input into those functions is our desired filename with the appropriate file extension. With SQL, we’re not creating a new file but instead inserting a new table into the database using our `con` variable from before.


## Most important DataFrame operations


Load in the IMDB movies dataset

In [49]:
import pandas

movies_df = pandas.read_csv("resources/IMDB-Movie-Data.csv", index_col="Title")

print(movies_df)

print("\n\n\n\t\t\t************************************************************************\n\n\n")

print(movies_df.info())

                         Rank                     Genre  \
Title
Guardians of the Galaxy  1     Action,Adventure,Sci-Fi
Prometheus               2     Adventure,Mystery,Sci-Fi
Split                    3     Horror,Thriller
Sing                     4     Animation,Comedy,Family
Suicide Squad            5     Action,Adventure,Fantasy
...                     ..                         ...
Secret in Their Eyes     996   Crime,Drama,Mystery
Hostel: Part II          997   Horror
Step Up 2: The Streets   998   Drama,Music,Romance
Search Party             999   Adventure,Comedy
Nine Lives               1000  Comedy,Family,Fantasy

                                                                                                                                                                                                                                            Description  \
Title
Guardians of the Galaxy  A group of intergalactic criminals are forced to work together to stop a fanatical warrior from taking control of the universe.
Prometheus               Following clues to the origin of mankind, a team finds a structure on a distant moon, but they soon realize they are not alone.
Split                    Three girls are kidnapped by a man with a diagnosed 23 distinct personalities. They must try to escape before the apparent emergence of a frightful new 24th.
Sing                     In a city of humanoid animals, a hustling theater impresario's attempt to save his theater with a singing competition becomes grander than he anticipates even as its finalists' find that their lives will never be the same.
Suicide Squad            A secret government agency recruits some of the most dangerous incarcerated super-villains to form a defensive task force. Their first mission: save the world from the apocalypse.
...                                                                                                                                                                                                                                                 ...
Secret in Their Eyes     A tight-knit team of rising investigators, along with their supervisor, is suddenly torn apart when they discover that one of their own teenage daughters has been brutally murdered.
Hostel: Part II          Three American college students studying abroad are lured to a Slovakian hostel, and discover the grim reality behind it.
Step Up 2: The Streets   Romantic sparks occur between two dance students from different backgrounds at the Maryland School of the Arts.
Search Party             A pair of friends embark on a mission to reunite their pal with the woman he was going to marry.
Nine Lives               A stuffy businessman finds himself trapped inside the body of his family's cat.

                                     Director  \
Title
Guardians of the Galaxy  James Gunn
Prometheus               Ridley Scott
Split                    M. Night Shyamalan
Sing                     Christophe Lourdelet
Suicide Squad            David Ayer
...                                       ...
Secret in Their Eyes     Billy Ray
Hostel: Part II          Eli Roth
Step Up 2: The Streets   Jon M. Chu
Search Party             Scot Armstrong
Nine Lives               Barry Sonnenfeld

                                                                                             Actors  \
Title
Guardians of the Galaxy  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe Saldana
Prometheus               Noomi Rapace, Logan Marshall-Green, Michael Fassbender, Charlize Theron
Split                    James McAvoy, Anya Taylor-Joy, Haley Lu Richardson, Jessica Sula
Sing                     Matthew McConaughey,Reese Witherspoon, Seth MacFarlane, Scarlett Johansson
Suicide Squad            Will Smith, Jared Leto, Margot Robbie, Viola Davis
...                                                                                             ...
Secret in Their Eyes     Chiwetel Ejiofor, Nicole Kidman, Julia Roberts, Dean Norris
Hostel: Part II          Lauren German, Heather Matarazzo, Bijou Phillips, Roger Bart
Step Up 2: The Streets   Robert Hoffman, Briana Evigan, Cassie Ventura, Adam G. Sevani
Search Party             Adam Pally, T.J. Miller, Thomas Middleditch,Shannon Woodward
Nine Lives               Kevin Spacey, Jennifer Garner, Robbie Amell,Cheryl Hines

                         Year  Runtime (Minutes)  Rating   Votes  \
Title
Guardians of the Galaxy  2014  121                8.1     757074
Prometheus               2012  124                7.0     485820
Split                    2016  117                7.3     157606
Sing                     2016  108                7.2     60545
Suicide Squad            2016  123                6.2     393727
...                       ...  ...                ...       ...
Secret in Their Eyes     2015  111                6.2     27585
Hostel: Part II          2007  94                 5.5     73152
Step Up 2: The Streets   2008  98                 6.2     70699
Search Party             2014  93                 5.6     4881
Nine Lives               2016  87                 5.3     12435

                         Revenue (Millions)  Metascore
Title
Guardians of the Galaxy  333.13              76.0
Prometheus               126.46              65.0
Split                    138.12              62.0
Sing                     270.32              59.0
Suicide Squad            325.02              40.0
...                         ...               ...
Secret in Their Eyes    NaN                  45.0
Hostel: Part II          17.54               46.0
Step Up 2: The Streets   58.01               50.0
Search Party            NaN                  22.0
Nine Lives               19.64               11.0

[1000 rows x 11 columns]



			************************************************************************



<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB
None

### Viewing your data

In [ ]:
movies_df.head()

`.head()` outputs the **first** five rows of your DataFrame by default, but we could also pass a number as well: `movies_df.head(10)` would output the top ten rows, for example. 

To see the **last** five rows use `.tail()`. `tail()` also accepts a number, and in this case we printing the bottom two rows.:

In [ ]:
movies_df.tail(2)

Typically when we load in a dataset, we like to view the first five or so rows to see what's under the hood. Here we can see the names of each column, the index, and examples of values in each row.

You'll notice that the index in our DataFrame is the *Title* column, which you can tell by how the word *Title* is slightly lower than the rest of the columns.

### Getting info about your data

`.info()` should be one of the very first commands you run after loading your data:

In [19]:
import pandas

movies_df = pandas.read_csv("resources/IMDB-Movie-Data.csv", index_col="Title")

print(movies_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB
None

`.info()` provides the essential details about your dataset, such as the number of rows and columns, the number of non-null values, what type of data is in each column, and how much memory your DataFrame is using. 

Notice in our movies dataset we have some obvious missing values in the `Revenue` and `Metascore` columns. 

Seeing the datatype quickly is actually quite useful. Imagine you just imported some JSON and the integers were recorded as strings. You go to do some arithmetic and find an "unsupported operand" Exception because you can't do math with strings. Calling `.info()` will quickly point out that your column you thought was all integers are actually string objects.

Another fast and useful attribute is `.shape`, which outputs just a tuple of (rows, columns):

In [21]:
import pandas

movies_df = pandas.read_csv("resources/IMDB-Movie-Data.csv", index_col="Title")

print(movies_df.shape)

(1000, 11)

Note that `.shape` has no parentheses and is a simple tuple of format (rows, columns). So we have **1000 rows** and **11 columns** in our movies DataFrame.

You'll be going to `.shape` a lot when cleaning and transforming data. For example, you might filter some rows based on some criteria and then want to know quickly how many rows were removed.

### Handling duplicates

This dataset does not have duplicate rows, but it is always important to verify you aren't aggregating duplicate rows. 

To demonstrate, let's simply just double up our movies DataFrame by appending it to itself:

In [22]:
import pandas

movies_df = pandas.read_csv("resources/IMDB-Movie-Data.csv", index_col="Title")

temp_df = movies_df.append(movies_df)

print(temp_df.shape)

(2000, 11)

/var/folders/0t/37zzt2wj3ygb5dmbchvqxtdc0000gn/T/ipykernel_3702/1653065324.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_df = movies_df.append(movies_df)

Using `append()` will return a copy without affecting the original DataFrame. We are capturing this copy in `temp` so we aren't working with the real data.

Notice call `.shape` quickly proves our DataFrame rows have doubled.

Now we can try dropping duplicates:

In [23]:
import pandas

movies_df = pandas.read_csv("resources/IMDB-Movie-Data.csv", index_col="Title")

temp_df = movies_df.append(movies_df)

temp_df = temp_df.drop_duplicates()

print(temp_df.shape)

(1000, 11)

/var/folders/0t/37zzt2wj3ygb5dmbchvqxtdc0000gn/T/ipykernel_3702/203847890.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_df = movies_df.append(movies_df)

Just like `append()`, the `drop_duplicates()` method will also return a copy of your DataFrame, but this time with duplicates removed. Calling `.shape` confirms we're back to the 1000 rows of our original dataset.

It's a little verbose to keep assigning DataFrames to the same variable like in this example. For this reason, pandas has the `inplace` keyword argument on many of its methods. Using `inplace=True` will modify the DataFrame object in place:

In [ ]:
temp_df.drop_duplicates(inplace=True)

Now our `temp_df` *will* have the transformed data automatically. 

Another important argument for `drop_duplicates()` is `keep`, which has three possible options:

* `first`: (default) Drop duplicates except for the first occurrence.
* `last`: Drop duplicates except for the last occurrence.
* `False`: Drop all duplicates.

Since we didn't define the `keep` arugment in the previous example it was defaulted to `first`. This means that if two rows are the same pandas will drop the second row and keep the first row. Using `last` has the opposite effect: the first row is dropped.

`keep`, on the other hand, will drop all duplicates. If two rows are the same then both will be dropped. Watch what happens to `temp_df`:

In [ ]:
temp_df = movies_df.append(movies_df)  # make a new copy

temp_df.drop_duplicateslicates(inplace=True, keep=False)

temp_df.shape

Since all rows were duplicates, `keep=False` dropped them all resulting in zero rows being left over. If you're wondering why you would want to do this, one reason is that it allows you to locate all duplicates in your dataset. When conditional selections are shown below you'll see how to do that.

### Column cleanup

Many times datasets will have verbose column names with symbols, upper and lowercase words, spaces, and typos. To make selecting data by column name easier we can spend a little time cleaning up their names.

Here's how to print the column names of our dataset:

In [ ]:
movies_df.columns

In [25]:
import pandas

movies_df = pandas.read_csv("resources/IMDB-Movie-Data.csv", index_col="Title")

movies_df.rename(columns={
        'Runtime (Minutes)': 'Runtime', 
        'Revenue (Millions)': 'Revenue_millions'
    }, inplace=True)


print(movies_df)

                         Rank                     Genre  \
Title
Guardians of the Galaxy  1     Action,Adventure,Sci-Fi
Prometheus               2     Adventure,Mystery,Sci-Fi
Split                    3     Horror,Thriller
Sing                     4     Animation,Comedy,Family
Suicide Squad            5     Action,Adventure,Fantasy
...                     ..                         ...
Secret in Their Eyes     996   Crime,Drama,Mystery
Hostel: Part II          997   Horror
Step Up 2: The Streets   998   Drama,Music,Romance
Search Party             999   Adventure,Comedy
Nine Lives               1000  Comedy,Family,Fantasy

                                                                                                                                                                                                                                            Description  \
Title
Guardians of the Galaxy  A group of intergalactic criminals are forced to work together to stop a fanatical warrior from taking control of the universe.
Prometheus               Following clues to the origin of mankind, a team finds a structure on a distant moon, but they soon realize they are not alone.
Split                    Three girls are kidnapped by a man with a diagnosed 23 distinct personalities. They must try to escape before the apparent emergence of a frightful new 24th.
Sing                     In a city of humanoid animals, a hustling theater impresario's attempt to save his theater with a singing competition becomes grander than he anticipates even as its finalists' find that their lives will never be the same.
Suicide Squad            A secret government agency recruits some of the most dangerous incarcerated super-villains to form a defensive task force. Their first mission: save the world from the apocalypse.
...                                                                                                                                                                                                                                                 ...
Secret in Their Eyes     A tight-knit team of rising investigators, along with their supervisor, is suddenly torn apart when they discover that one of their own teenage daughters has been brutally murdered.
Hostel: Part II          Three American college students studying abroad are lured to a Slovakian hostel, and discover the grim reality behind it.
Step Up 2: The Streets   Romantic sparks occur between two dance students from different backgrounds at the Maryland School of the Arts.
Search Party             A pair of friends embark on a mission to reunite their pal with the woman he was going to marry.
Nine Lives               A stuffy businessman finds himself trapped inside the body of his family's cat.

                                     Director  \
Title
Guardians of the Galaxy  James Gunn
Prometheus               Ridley Scott
Split                    M. Night Shyamalan
Sing                     Christophe Lourdelet
Suicide Squad            David Ayer
...                                       ...
Secret in Their Eyes     Billy Ray
Hostel: Part II          Eli Roth
Step Up 2: The Streets   Jon M. Chu
Search Party             Scot Armstrong
Nine Lives               Barry Sonnenfeld

                                                                                             Actors  \
Title
Guardians of the Galaxy  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe Saldana
Prometheus               Noomi Rapace, Logan Marshall-Green, Michael Fassbender, Charlize Theron
Split                    James McAvoy, Anya Taylor-Joy, Haley Lu Richardson, Jessica Sula
Sing                     Matthew McConaughey,Reese Witherspoon, Seth MacFarlane, Scarlett Johansson
Suicide Squad            Will Smith, Jared Leto, Margot Robbie, Viola Davis
...                                                                                             ...
Secret in Their Eyes     Chiwetel Ejiofor, Nicole Kidman, Julia Roberts, Dean Norris
Hostel: Part II          Lauren German, Heather Matarazzo, Bijou Phillips, Roger Bart
Step Up 2: The Streets   Robert Hoffman, Briana Evigan, Cassie Ventura, Adam G. Sevani
Search Party             Adam Pally, T.J. Miller, Thomas Middleditch,Shannon Woodward
Nine Lives               Kevin Spacey, Jennifer Garner, Robbie Amell,Cheryl Hines

                         Year  Runtime  Rating   Votes  Revenue_millions  \
Title
Guardians of the Galaxy  2014  121      8.1     757074  333.13
Prometheus               2012  124      7.0     485820  126.46
Split                    2016  117      7.3     157606  138.12
Sing                     2016  108      7.2     60545   270.32
Suicide Squad            2016  123      6.2     393727  325.02
...                       ...  ...      ...       ...      ...
Secret in Their Eyes     2015  111      6.2     27585  NaN
Hostel: Part II          2007  94       5.5     73152   17.54
Step Up 2: The Streets   2008  98       6.2     70699   58.01
Search Party             2014  93       5.6     4881   NaN
Nine Lives               2016  87       5.3     12435   19.64

                         Metascore
Title
Guardians of the Galaxy  76.0
Prometheus               65.0
Split                    62.0
Sing                     59.0
Suicide Squad            40.0
...                       ...
Secret in Their Eyes     45.0
Hostel: Part II          46.0
Step Up 2: The Streets   50.0
Search Party             22.0
Nine Lives               11.0

[1000 rows x 11 columns]

In [26]:
## another way to convert the column names
movies_df.columns = ['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime', 
                     'rating', 'votes', 'revenue_millions', 'metascore']


print(movies_df)

                         rank                     genre  \
Title
Guardians of the Galaxy  1     Action,Adventure,Sci-Fi
Prometheus               2     Adventure,Mystery,Sci-Fi
Split                    3     Horror,Thriller
Sing                     4     Animation,Comedy,Family
Suicide Squad            5     Action,Adventure,Fantasy
...                     ..                         ...
Secret in Their Eyes     996   Crime,Drama,Mystery
Hostel: Part II          997   Horror
Step Up 2: The Streets   998   Drama,Music,Romance
Search Party             999   Adventure,Comedy
Nine Lives               1000  Comedy,Family,Fantasy

                                                                                                                                                                                                                                            description  \
Title
Guardians of the Galaxy  A group of intergalactic criminals are forced to work together to stop a fanatical warrior from taking control of the universe.
Prometheus               Following clues to the origin of mankind, a team finds a structure on a distant moon, but they soon realize they are not alone.
Split                    Three girls are kidnapped by a man with a diagnosed 23 distinct personalities. They must try to escape before the apparent emergence of a frightful new 24th.
Sing                     In a city of humanoid animals, a hustling theater impresario's attempt to save his theater with a singing competition becomes grander than he anticipates even as its finalists' find that their lives will never be the same.
Suicide Squad            A secret government agency recruits some of the most dangerous incarcerated super-villains to form a defensive task force. Their first mission: save the world from the apocalypse.
...                                                                                                                                                                                                                                                 ...
Secret in Their Eyes     A tight-knit team of rising investigators, along with their supervisor, is suddenly torn apart when they discover that one of their own teenage daughters has been brutally murdered.
Hostel: Part II          Three American college students studying abroad are lured to a Slovakian hostel, and discover the grim reality behind it.
Step Up 2: The Streets   Romantic sparks occur between two dance students from different backgrounds at the Maryland School of the Arts.
Search Party             A pair of friends embark on a mission to reunite their pal with the woman he was going to marry.
Nine Lives               A stuffy businessman finds himself trapped inside the body of his family's cat.

                                     director  \
Title
Guardians of the Galaxy  James Gunn
Prometheus               Ridley Scott
Split                    M. Night Shyamalan
Sing                     Christophe Lourdelet
Suicide Squad            David Ayer
...                                       ...
Secret in Their Eyes     Billy Ray
Hostel: Part II          Eli Roth
Step Up 2: The Streets   Jon M. Chu
Search Party             Scot Armstrong
Nine Lives               Barry Sonnenfeld

                                                                                             actors  \
Title
Guardians of the Galaxy  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe Saldana
Prometheus               Noomi Rapace, Logan Marshall-Green, Michael Fassbender, Charlize Theron
Split                    James McAvoy, Anya Taylor-Joy, Haley Lu Richardson, Jessica Sula
Sing                     Matthew McConaughey,Reese Witherspoon, Seth MacFarlane, Scarlett Johansson
Suicide Squad            Will Smith, Jared Leto, Margot Robbie, Viola Davis
...                                                                                             ...
Secret in Their Eyes     Chiwetel Ejiofor, Nicole Kidman, Julia Roberts, Dean Norris
Hostel: Part II          Lauren German, Heather Matarazzo, Bijou Phillips, Roger Bart
Step Up 2: The Streets   Robert Hoffman, Briana Evigan, Cassie Ventura, Adam G. Sevani
Search Party             Adam Pally, T.J. Miller, Thomas Middleditch,Shannon Woodward
Nine Lives               Kevin Spacey, Jennifer Garner, Robbie Amell,Cheryl Hines

                         year  runtime  rating   votes  revenue_millions  \
Title
Guardians of the Galaxy  2014  121      8.1     757074  333.13
Prometheus               2012  124      7.0     485820  126.46
Split                    2016  117      7.3     157606  138.12
Sing                     2016  108      7.2     60545   270.32
Suicide Squad            2016  123      6.2     393727  325.02
...                       ...  ...      ...       ...      ...
Secret in Their Eyes     2015  111      6.2     27585  NaN
Hostel: Part II          2007  94       5.5     73152   17.54
Step Up 2: The Streets   2008  98       6.2     70699   58.01
Search Party             2014  93       5.6     4881   NaN
Nine Lives               2016  87       5.3     12435   19.64

                         metascore
Title
Guardians of the Galaxy  76.0
Prometheus               65.0
Split                    62.0
Sing                     59.0
Suicide Squad            40.0
...                       ...
Secret in Their Eyes     45.0
Hostel: Part II          46.0
Step Up 2: The Streets   50.0
Search Party             22.0
Nine Lives               11.0

[1000 rows x 11 columns]

But that's too much work. Instead of just renaming each column manually we can do a list comprehension:

In [ ]:
movies_df.columns = [col.lower() for col in movies_df]

movies_df.columns

`list` (and `dict`) comprehensions come in handy a lot when working with pandas and data in general.

It's a good idea to lowercase, remove special characters, and replace spaces with underscores if you'll be working with a dataset for some time.

### How to work with missing values

When exploring data, you’ll most likely encounter missing or null values, which are essentially placeholders for non-existent values. Most commonly you'll see Python's `None` or NumPy's `np.nan`, each of which are handled differently in some situations.

There are two options in dealing with nulls: 

1. Get rid of rows or columns with nulls
2. Replace nulls with non-null values, a technique known as **imputation**

Let's calculate to total number of nulls in each column of our dataset. The first step is to check which cells in our DataFrame are null:

In [27]:
import pandas

movies_df = pandas.read_csv("resources/IMDB-Movie-Data.csv", index_col="Title")

print(movies_df.isnull())

                          Rank  Genre  Description  Director  Actors   Year  \
Title
Guardians of the Galaxy  False  False  False        False     False   False
Prometheus               False  False  False        False     False   False
Split                    False  False  False        False     False   False
Sing                     False  False  False        False     False   False
Suicide Squad            False  False  False        False     False   False
...                        ...    ...    ...          ...       ...     ...
Secret in Their Eyes     False  False  False        False     False   False
Hostel: Part II          False  False  False        False     False   False
Step Up 2: The Streets   False  False  False        False     False   False
Search Party             False  False  False        False     False   False
Nine Lives               False  False  False        False     False   False

                         Runtime (Minutes)  Rating  Votes  Revenue (Millions)  \
Title
Guardians of the Galaxy  False              False   False  False
Prometheus               False              False   False  False
Split                    False              False   False  False
Sing                     False              False   False  False
Suicide Squad            False              False   False  False
...                        ...                ...     ...    ...
Secret in Their Eyes     False              False   False  True
Hostel: Part II          False              False   False  False
Step Up 2: The Streets   False              False   False  False
Search Party             False              False   False  True
Nine Lives               False              False   False  False

                         Metascore
Title
Guardians of the Galaxy  False
Prometheus               False
Split                    False
Sing                     False
Suicide Squad            False
...                        ...
Secret in Their Eyes     False
Hostel: Part II          False
Step Up 2: The Streets   False
Search Party             False
Nine Lives               False

[1000 rows x 11 columns]

Notice `isnull()` returns a DataFrame where each cell is either True or False depending on that cell's null status.

To count the number of nulls in each column we use an aggregate function for summing:

In [ ]:
movies_df.isnull().sum()

`.isnull()` just by iteself isn't very useful, and is usually used in conjunction with other methods, like `sum()`.

We can see now that our data has **128** missing values for `revenue_millions` and **64** missing values for `metascore`.

#### Removing null values

Data Scientists and Analysts regularly face the dilemma of dropping or imputing null values, and is a decision that requires intimate knowledge of your data and its context. Overall, removing null data is only suggested if you have a small amount of missing data.

Remove nulls is pretty simple:

In [28]:
import pandas

movies_df = pandas.read_csv("resources/IMDB-Movie-Data.csv", index_col="Title")

movies_df.dropna()

print(movies_df)

                         Rank                     Genre  \
Title
Guardians of the Galaxy  1     Action,Adventure,Sci-Fi
Prometheus               2     Adventure,Mystery,Sci-Fi
Split                    3     Horror,Thriller
Sing                     4     Animation,Comedy,Family
Suicide Squad            5     Action,Adventure,Fantasy
...                     ..                         ...
Secret in Their Eyes     996   Crime,Drama,Mystery
Hostel: Part II          997   Horror
Step Up 2: The Streets   998   Drama,Music,Romance
Search Party             999   Adventure,Comedy
Nine Lives               1000  Comedy,Family,Fantasy

                                                                                                                                                                                                                                            Description  \
Title
Guardians of the Galaxy  A group of intergalactic criminals are forced to work together to stop a fanatical warrior from taking control of the universe.
Prometheus               Following clues to the origin of mankind, a team finds a structure on a distant moon, but they soon realize they are not alone.
Split                    Three girls are kidnapped by a man with a diagnosed 23 distinct personalities. They must try to escape before the apparent emergence of a frightful new 24th.
Sing                     In a city of humanoid animals, a hustling theater impresario's attempt to save his theater with a singing competition becomes grander than he anticipates even as its finalists' find that their lives will never be the same.
Suicide Squad            A secret government agency recruits some of the most dangerous incarcerated super-villains to form a defensive task force. Their first mission: save the world from the apocalypse.
...                                                                                                                                                                                                                                                 ...
Secret in Their Eyes     A tight-knit team of rising investigators, along with their supervisor, is suddenly torn apart when they discover that one of their own teenage daughters has been brutally murdered.
Hostel: Part II          Three American college students studying abroad are lured to a Slovakian hostel, and discover the grim reality behind it.
Step Up 2: The Streets   Romantic sparks occur between two dance students from different backgrounds at the Maryland School of the Arts.
Search Party             A pair of friends embark on a mission to reunite their pal with the woman he was going to marry.
Nine Lives               A stuffy businessman finds himself trapped inside the body of his family's cat.

                                     Director  \
Title
Guardians of the Galaxy  James Gunn
Prometheus               Ridley Scott
Split                    M. Night Shyamalan
Sing                     Christophe Lourdelet
Suicide Squad            David Ayer
...                                       ...
Secret in Their Eyes     Billy Ray
Hostel: Part II          Eli Roth
Step Up 2: The Streets   Jon M. Chu
Search Party             Scot Armstrong
Nine Lives               Barry Sonnenfeld

                                                                                             Actors  \
Title
Guardians of the Galaxy  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe Saldana
Prometheus               Noomi Rapace, Logan Marshall-Green, Michael Fassbender, Charlize Theron
Split                    James McAvoy, Anya Taylor-Joy, Haley Lu Richardson, Jessica Sula
Sing                     Matthew McConaughey,Reese Witherspoon, Seth MacFarlane, Scarlett Johansson
Suicide Squad            Will Smith, Jared Leto, Margot Robbie, Viola Davis
...                                                                                             ...
Secret in Their Eyes     Chiwetel Ejiofor, Nicole Kidman, Julia Roberts, Dean Norris
Hostel: Part II          Lauren German, Heather Matarazzo, Bijou Phillips, Roger Bart
Step Up 2: The Streets   Robert Hoffman, Briana Evigan, Cassie Ventura, Adam G. Sevani
Search Party             Adam Pally, T.J. Miller, Thomas Middleditch,Shannon Woodward
Nine Lives               Kevin Spacey, Jennifer Garner, Robbie Amell,Cheryl Hines

                         Year  Runtime (Minutes)  Rating   Votes  \
Title
Guardians of the Galaxy  2014  121                8.1     757074
Prometheus               2012  124                7.0     485820
Split                    2016  117                7.3     157606
Sing                     2016  108                7.2     60545
Suicide Squad            2016  123                6.2     393727
...                       ...  ...                ...       ...
Secret in Their Eyes     2015  111                6.2     27585
Hostel: Part II          2007  94                 5.5     73152
Step Up 2: The Streets   2008  98                 6.2     70699
Search Party             2014  93                 5.6     4881
Nine Lives               2016  87                 5.3     12435

                         Revenue (Millions)  Metascore
Title
Guardians of the Galaxy  333.13              76.0
Prometheus               126.46              65.0
Split                    138.12              62.0
Sing                     270.32              59.0
Suicide Squad            325.02              40.0
...                         ...               ...
Secret in Their Eyes    NaN                  45.0
Hostel: Part II          17.54               46.0
Step Up 2: The Streets   58.01               50.0
Search Party            NaN                  22.0
Nine Lives               19.64               11.0

[1000 rows x 11 columns]

This operation will delete any **row** with at least a single null value, but it will return a new DataFrame without altering the original one. You could specify `inplace=True` in this method as well.

So in the case of our dataset, this operation would remove 128 rows where `revenue_millions` is null and 64 rows where `metascore` is null. This obviously seems like a waste since there's perfectly good data in the other columns of those dropped rows. That's why we'll look at imputation next.

Other than just dropping rows, you can also drop columns with null values by setting `axis=1`:

In [ ]:
movies_df.dropna(axis=1)

In our dataset, this operation would drop the `revenue_millions` and `metascore` columns.

**Intuition side note**: What's with this `axis=1` parameter?

It's not immediately obvious where `axis` comes from and why you need it to be 1 for it to affect columns. To see why, just look at the `.shape` output:

In [ ]:
movies_df.shape

As we learned above, this is a tuple that represents the shape of the DataFrame, i.e. 1000 rows and 11 columns. Note that the *rows* are at index zero of this tuple and *columns* are at **index one** of this tuple. This is why `axis=1` affects columns. This comes from NumPy, and is a great example of why learning NumPy is worth your time.

### Imputation

Imputation is a conventional feature engineering technique used to keep valuable data that have null values. 

There may be instances where dropping every row with a null value removes too big a chunk from your dataset, so instead we can impute that null with another value, usually the **mean** or the **median** of that column. 

Let's look at imputing the missing values in the `revenue_millions` column. First we'll extract that column into its own variable:

In [ ]:
revenue = movies_df['revenue_millions']

Using square brackets is the general way we select columns in a DataFrame. 

If you remember back to when we created DataFrames from scratch, the keys of the `dict` ended up as column names. Now when we select columns of a DataFrame, we use brackets just like if we were accessing a Python dictionary. 

`revenue` now contains a Series:

In [ ]:
revenue.head()

Slightly different formatting than a DataFrame, but we still have our `Title` index. 

We'll impute the missing values of revenue using the mean. Here's the mean value:

In [ ]:
revenue_mean = revenue.mean()

revenue_mean

With the mean, let's fill the nulls using `fillna()`:

In [ ]:
revenue.fillna(revenue_mean, inplace=True)

We have now replaced all nulls in `revenue` with the mean of the column. Notice that by using `inplace=True` we have actually affected the original `movies_df`:

In [ ]:
movies_df.isnull().sum()

Imputing an entire column with the same value like this is a basic example. It would be a better idea to try a more granular imputation by Genre or Director. 

For example, you would find the mean of the revenue generated in each genre individually and impute the nulls in each genre with that genre's mean.

Let's now look at more ways to examine and understand the dataset.

### Understanding your variables

Using `describe()` on an entire DataFrame we can get a summary of the distribution of continuous variables:

In [ ]:
movies_df.describe()

Understanding which numbers are continuous also comes in handy when thinking about the type of plot to use to represent your data visually. 

`.describe()` can also be used on a categorical variable to get the count of rows, unique count of categories, top category, and freq of top category:

In [ ]:
movies_df.describe(include='all')

In [ ]:
movies_df['genre'].describe()

This tells us that the genre column has 207 unique values, the top value is Action/Adventure/Sci-Fi, which shows up 50 times (freq).

`.value_counts()` can tell us the frequency of all values in a column:

In [ ]:
movies_df['genre'].value_counts().head(10)

#### Relationships between continuous variables

By using the correlation method `.corr()` we can generate the relationship between each continuous variable:

In [ ]:
movies_df.corr()

Correlation tables are a numerical representation of the bivariate relationships in the dataset. 

Positive numbers indicate a positive correlation — one goes up the other goes up — and negative numbers represent an inverse correlation — one goes up the other goes down. 1.0 indicates a perfect correlation. 

So looking in the first row, first column we see `rank` has a perfect correlation with itself, which is obvious. On the other hand, the correlation between `votes` and `revenue_millions` is 0.6. A little more interesting.

Examining bivariate relationships comes in handy when you have an outcome or dependent variable in mind and would like to see the features most correlated to the increase or decrease of the outcome. You can visually represent bivariate relationships with scatterplots (seen below in the plotting section). 

For a deeper look into data summarizations check out [Essential Statistics for Data Science](https://www.learndatasci.com/tutorials/data-science-statistics-using-python/).

Let's now look more at manipulating DataFrames.

### DataFrame slicing, selecting, extracting

Up until now we've focused on some basic summaries of our data. We've learned about simple column extraction using single brackets, and we imputed null values in a column using `fillna()`. Below are the other methods of slicing, selecting, and extracting you'll need to use constantly.

It's important to note that, although many methods are the same, DataFrames and Series have different attributes, so you'll need be sure to know which type you are working with or else you will receive attribute errors. 

Let's look at working with columns first.

#### By column

You already saw how to extract a column using square brackets like this:

In [ ]:
genre_col = movies_df['genre']

type(genre_col)

This will return a *Series*. To extract a column as a *DataFrame*, you need to pass a list of column names. In our case that's just a single column:

In [ ]:
genre_col = movies_df[['genre']]

type(genre_col)

Since it's just a list, adding another column name is easy:

In [ ]:
subset = movies_df[['genre', 'rating']]

subset.head()

Now we'll look at getting data by rows.

#### By rows


For rows, we have two options: 

- `.loc` - **loc**ates by name
- `.iloc`- **loc**ates by numerical **i**ndex

Remember that we are still indexed by movie Title, so to use `.loc` we give it the Title of a movie:

In [ ]:
prom = movies_df.loc["Prometheus"]

prom

On the other hand, with `iloc` we give it the numerical index of Prometheus:

In [ ]:
prom = movies_df.iloc[1]

`loc` and `iloc` can be thought of as similar to Python `list` slicing. To show this even further, let's select multiple rows.

How would you do it with a list? In Python, just slice with brackets like `example_list[1:4]`. It's works the same way in pandas:

In [ ]:
movie_subset = movies_df.loc['Prometheus':'Sing']

movie_subset = movies_df.iloc[1:4]

movie_subset

One important distinction between using `.loc` and `.iloc` to select multiple rows is that `.loc` includes the movie *Sing* in the result, but when using `.iloc` we're getting rows 1:4 but the movie at index 4 (*Suicide Squad*) is not included. 

Slicing with `.iloc` follows the same rules as slicing with lists, the object at the index at the end is not included.

#### Conditional selections
We’ve gone over how to select columns and rows, but what if we want to make a conditional selection? 

For example, what if we want to filter our movies DataFrame to show only films directed by Ridley Scott or films with a rating greater than or equal to 8.0?

To do that, we take a column from the DataFrame and apply a Boolean condition to it. Here's an example of a Boolean condition:

In [ ]:
condition = (movies_df['director'] == "Ridley Scott")

condition.head()

Similar to `isnull()`, this returns a Series of True and False values: True for films directed by Ridley Scott and False for ones not directed by him. 

We want to filter out all movies not directed by Ridley Scott, in other words, we don’t want the False films. To return the rows where that condition is True we have to pass this operation into the DataFrame:

In [ ]:
movies_df[movies_df['director'] == "Ridley Scott"].head()

You can get used to looking at these conditionals by reading it like: 

> Select movies_df where movies_df director equals Ridley Scott

Let's look at conditional selections using numerical values by filtering the DataFrame by ratings:

In [ ]:
movies_df[movies_df['rating'] >= 8.6].head(3)

We can make some richer conditionals by using logical operators `|` for "or" and `&` for "and".

Let's filter the the DataFrame to show only movies by Christopher Nolan OR Ridley Scott:

In [ ]:
movies_df[(movies_df['director'] == 'Christopher Nolan') | (movies_df['director'] == 'Ridley Scott')].head()

We need to make sure to group evaluations with parentheses so Python knows how to evaluate the conditional.

Using the `isin()` method we could make this more concise though:

In [ ]:
movies_df[movies_df['director'].isin(['Christopher Nolan', 'Ridley Scott'])].head()

Let's say we want all movies that were released between 2005 and 2010, have a rating above 8.0, but made below the 25th percentile in revenue.

Here's how we could do all of that:

In [ ]:
movies_df[
    ((movies_df['year'] >= 2005) & (movies_df['year'] <= 2010))
    & (movies_df['rating'] > 8.0)
    & (movies_df['revenue_millions'] < movies_df['revenue_millions'].quantile(0.25))
]

If you recall up when we used `.describe()` the 25th percentile for revenue was about 17.4, and we can access this value directly by using the `quantile()` method with a float of 0.25.

So here we have only four movies that match that criteria.

## Applying functions

It is possible to iterate over a DataFrame or Series as you would with a list, but doing so — especially on large datasets — is very slow.

An efficient alternative is to `apply()` a function to the dataset. For example, we could use a function to convert movies with an 8.0 or greater to a string value of "good" and the rest to "bad" and use this transformed values to create a new column.

First we would create a function that, when given a rating, determines if it's good or bad:

In [ ]:
def rating_function(x):
    if x >= 8.0:
        return "good"
    else:
        return "bad"

Now we want to send the entire rating column through this function, which is what `apply()` does:

In [ ]:
movies_df["rating_category"] = movies_df["rating"].apply(rating_function)

movies_df.head(2)

The `.apply()` method passes every value in the `rating` column through the `rating_function` and then returns a new Series. This Series is then assigned to a new column called `rating_category`.

You can also use anonymous functions as well. This lambda function achieves the same result as `rating_function`:

In [ ]:
movies_df["rating_category"] = movies_df["rating"].apply(lambda x: 'good' if x >= 8.0 else 'bad')

movies_df.head(2)

Overall, using `apply()` will be much faster than iterating manually over rows because pandas is utilizing vectorization.

> Vectorization: a style of computer programming where operations are applied to whole arrays instead of individual elements —[Wikipedia](https://en.wikipedia.org/wiki/Vectorization)

A good example of high usage of `apply()` is during natural language processing (NLP) work. You'll need to apply all sorts of text cleaning functions to strings to prepare for machine learning.

### Pandas apply, applymap and map

<img src= 'resources/pandas_apply.png' ></img>

- apply() is used to apply a function along an axis of the DataFrame or on values of Series.
- applymap() is used to apply a function to a DataFrame elementwise.
- map() is used to substitute each value in a Series with another value.

In [ ]:
import pandas as pd
df = pd.DataFrame({ 'A': [1,2,3,4], 
                   'B': [10,20,30,40],
                   'C': [20,40,60,80]
                  }, 
                  index=['Row 1', 'Row 2', 'Row 3', 'Row 4'])

In [ ]:
df

In [ ]:
def custom_sum(row):
    return row.sum()
df['D'] = df.apply(custom_sum, axis=1)

In [ ]:
df

Let’s take a look df.apply(custom_sum, axis=1)

The first parameter custom_sum is a function.

The second parameter axis is to specify which axis the function is applied to.

0 for applying the function to each column and 1 for applying the function to each row.


The second parameter axis = 1 tells Pandas to use the row. 

So, the custom_sum is applied to each row and returns a new Series with the output of each row as value.

<img src= 'resources/pandas_apply_sum.png' ></img>

With the understanding of the sum of each row, the sum of each column is just to use axis = 0 instead

In [ ]:
df.loc['Row 5'] = df.apply(custom_sum, axis=0)

<img src= 'resources/pandas_apply_column.png' ></img>

In [ ]:
df

#### With result_type parameter

result_type is a parameter in apply() set to 'expand', 'reduce', or 'broadcast' to get the desired type of result.

In the above scenario if result_type is set to 'broadcast' then the output will be a DataFrame substituted by the custom_sum value.

In [ ]:
df.apply(custom_sum, axis=1, result_type='broadcast')

The result is broadcasted to the original shape of the frame, the original index and columns are retained.

#### Expand

To understand result_type as 'expand' and 'reduce', we will first create a function that returns a list.

In [ ]:
def cal_multi_col(row):
    return [row['A'] * 2, row['B'] * 3]

In [ ]:
df.apply(cal_multi_col, axis=1, result_type='expand')

In order to append this to the existing DataFrame, the result has to be kept in a variable so the column names can be accessed by res.columns.

In [ ]:
res = df.apply(cal_multi_col, axis=1, result_type='expand')
df[res.columns] = res

In [ ]:
df

#### Reduce

Next, apply the function across the DataFrame column with result_type as 'reduce'. 

result_type='reduce' is just opposite of 'expand' and returns a Series if possible rather than expanding list-like results.

In [ ]:
df['New'] = df.apply(cal_multi_col, axis=1, result_type='reduce')

In [ ]:
df

## Applymap

applymap() is only available in DataFrame and used for element-wise operation across the whole DataFrame. 

It has been optimized and some cases work much faster than apply() , but it’s good to compare it with apply() before going for any heavier operation.

For example: to output a DataFrame with number squared

In [ ]:
import numpy as np

In [ ]:
df.applymap(np.square)

### Map

How to use map()?

map() is only available in Series and used for substituting each value in a Series with another value. 

To understand how the map() works, we first create a Series.

In [ ]:
s = pd.Series(['cat', 'dog', np.nan, 'rabbit'])
s

map() accepts a dict or a Series. 

Values that are not found in the dict are converted to NaN, unless the dict has a default value (e.g. defaultdict):

In [ ]:
s.map({'cat': 'kitten', 'dog': 'puppy'})

It also accepts a function:

In [ ]:
s.map('I am a {}'.format)

To avoid applying the function to missing values (and keep them as NaN) na_action='ignore' can be used:

In [ ]:
s.map('I am a {}'.format, na_action='ignore')

### Summary


For DataFrame:

- apply(): It is used when you want to apply a function along the row or column. axis = 0 for column and axis = 1 for row.

- applymap(): It is used for element-wise operation across the whole DataFrame.

For Series:

- apply(): It is used when you want to apply a function on the values of Series.

- map(): It is used to substitute each value with another value.