# exercise 1

How to import pandas and check the version?

In [2]:
import pandas 

pandas.__version__

'1.4.2'

# exercise 2

 How to create a series from a list, numpy array and dict?
 
 Input : 
 ```
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
 ```

In [8]:
import pandas
import numpy

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = numpy.arange(26)
mydict = dict(zip(mylist, myarr))

# Solution
ser1 = pandas.Series(mylist)
ser2 = pandas.Series(myarr)
ser3 = pandas.Series(mydict)
print(ser3.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64

# exercise 3

How to get the items not common to both series A and series B?

Input : 

```
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
```

In [3]:
# Input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# Solution
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

# exercise 4

How to get frequency counts of unique items of a series?

Input :

series = ['d', 'b', 'g', 'a', 'g', 'h', 'f', 'c', 'f', 'h', 'd', 'a', 'f', 'b', 'g', 'a', 'b', 'g', 'h', 'e', 'c', 'a', 'g', 'a', 'e', 'b', 'g', 'b', 'b', 'f']

In [10]:
import pandas

series = ['d', 'b', 'g', 'a', 'g', 'h', 'f', 'c', 'f', 'h', 'd', 'a', 'f', 'b', 'g', 'a', 'b', 'g', 'h', 'e', 'c', 'a', 'g', 'a', 'e', 'b', 'g', 'b', 'b', 'f']

frequency_count = pandas.Series(series)

print(frequency_count.value_counts())

b    6
g    6
a    5
f    4
h    3
d    2
c    2
e    2
dtype: int64

# exercise 5

How to stack two series vertically and horizontally ?

```
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

```

In [16]:
# Input
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# Output
# Vertical
vertical_df = pd.concat([ser1, ser2], axis=0)
print(vertical_df.head(10))

print('===============')
# Horizontal
df = pd.concat([ser1, ser2], axis=1)
print(df)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
===============
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

# exercise 6

How to convert the first character of each element in a series to uppercase using lambda?

Input : 

```
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
```

In [14]:
import pandas as pd

ser = pd.Series(['how', 'to', 'kick', 'ass?'])
new_ser = ser.map(lambda x: x[0].upper() + x[1: ])

print(new_ser)

0     How
1      To
2    Kick
3    Ass?
dtype: object

# exercise 7

How to rename a specific columns in a dataframe?

Rename the column Type as CarType in df and replace the ‘.’ in column names with ‘_’.

Input

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.columns)
```

In [19]:
import pandas as pf

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df.rename(columns = {"Type": "CarType"}, inplace = True)

df.columns = df.columns.str.replace(r"[.]", "_")

print(df.columns)

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

/var/folders/0t/37zzt2wj3ygb5dmbchvqxtdc0000gn/T/ipykernel_4497/2172532274.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace(r"[.]", "_")

# exercise 8

How to filter every nth row in a dataframe?

From df, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

Input 

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [21]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

print(df.iloc[::20, :])

   Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0         Acura  Integra    Small       12.9   15.9       18.8      25.0
20     Chrysler  LeBaron  Compact       14.5   15.8       17.1      23.0
40        Honda  Prelude   Sporty       17.0   19.8       22.7      24.0
60      Mercury   Cougar  Midsize       14.9   14.9       14.9      19.0
80       Subaru   Loyale    Small       10.5   10.9       11.3      25.0

    MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
0          31.0                None      Front  ...        5.0   177.0
20         28.0  Driver & Passenger      Front  ...        6.0   183.0
40         31.0  Driver & Passenger      Front  ...        4.0   175.0
60         26.0                None       Rear  ...        5.0   199.0
80         30.0                None        4WD  ...        5.0   175.0

    Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
0       102.0   68.0         37.0           26.5           NaN  2705.0
20      104.0   68.0         41.0           30.5          14.0  3085.0
40      100.0   70.0         39.0           23.5           8.0  2865.0
60      113.0   73.0         38.0           28.0          15.0  3610.0
80       97.0   65.0         35.0           27.5          15.0  2490.0

     Origin              Make
0   non-USA     Acura Integra
20      USA  Chrysler LeBaron
40  non-USA     Honda Prelude
60      USA    Mercury Cougar
80  non-USA     Subaru Loyale

[5 rows x 27 columns]

# exercise 9

How to check if a dataframe has any missing values?

Check if df has any missing values.

Input:

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

```

In [22]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

print(df.isnull())

    Manufacturer  Model   Type  Min.Price  Price  Max.Price  MPG.city  \
0          False  False  False      False  False      False     False
1           True  False  False      False  False      False     False
2          False  False  False      False  False      False     False
3          False  False  False       True  False      False     False
4          False  False  False       True  False       True     False
..           ...    ...    ...        ...    ...        ...       ...
88         False  False  False      False  False      False     False
89         False  False  False      False  False      False     False
90         False  False  False      False  False      False     False
91         False  False  False      False  False      False     False
92          True  False  False      False  False      False     False

    MPG.highway  AirBags  DriveTrain  ...  Passengers  Length  Wheelbase  \
0         False    False       False  ...       False   False      False
1         False    False       False  ...       False   False      False
2         False    False       False  ...       False   False      False
3         False    False        True  ...       False   False      False
4         False     True       False  ...       False   False      False
..          ...      ...         ...  ...         ...     ...        ...
88        False    False       False  ...       False   False      False
89        False    False       False  ...       False   False      False
90        False    False       False  ...       False   False      False
91        False    False       False  ...       False   False      False
92        False    False       False  ...       False   False      False

    Width  Turn.circle  Rear.seat.room  Luggage.room  Weight  Origin   Make
0   False        False           False          True   False   False  False
1   False        False           False         False   False   False  False
2   False        False           False         False   False   False  False
3    True        False           False         False   False   False  False
4   False        False           False         False   False   False  False
..    ...          ...             ...           ...     ...     ...    ...
88  False        False           False          True   False    True  False
89  False        False           False         False   False   False  False
90  False        False           False         False   False   False  False
91  False        False           False         False   False   False  False
92  False        False           False         False   False   False  False

[93 rows x 27 columns]

# exercise 10

How to count the number of missing values in each column?

Count the number of missing values in each column of df. Which column has the maximum number of missing values?

Input :

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

```

In [23]:
import pandas

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

print(df.isnull().sum())

Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64