In [2]:
import numpy as np

# Create a 1000x1000x50 array with random values

# Create a null vector of size 10 but the fourth value which is 5

# Create a 10x10 identity matrix

# Create a 6x6 array with random value from 1,10 and find the mean value

# Create a 5x5 matrix with random value and change diagonal values with 1,2,3,4,5

# create a 5x3 matrix and a 3x2 matrix and multiply them (matrix product)

# Compute ((A+B)*(-A/2))

In [74]:
a = np.array([[3, 2],
       [1, 2]])
b = np.array([[1, 1],
       [2, 2]])

# get the inter values from array Z

In [34]:
Z = np.array([7.0799411 , 0.49711506, 0.12911289, 1.4150807 , 7.05211707,
       2.24443288, 3.36291566, 7.27380129, 2.14662932, 5.62338762])

#expected output :
    #[7. 0. 0. 1. 7. 2. 3. 7. 2. 5.]

# Create a 4x4 matrix with row values ranging from 0 to 3

expected output

            [[0. 1. 2. 3.]
             [0. 1. 2. 3.]
             [0. 1. 2. 3.]
             [0. 1. 2. 3.]]

# Create a random vector of size 6 and sort it

# Subtract the mean of each row of a matrix

In [62]:
X = np.array([[9, 5, 7, 7, 8],
       [5, 9, 5, 5, 5],
       [5, 9, 8, 8, 9],
       [7, 5, 5, 7, 9],
       [6, 9, 9, 7, 9]])

In [64]:
expected output

array([[ 1.8, -0.8, -0.8,  0.4,  0. ],
       [-2.2,  3.2, -2.8, -1.6, -3. ],
       [-2.2,  3.2,  0.2,  1.4,  1. ],
       [-0.2, -0.8, -2.8,  0.4,  1. ],
       [-1.2,  3.2,  1.2,  0.4,  1. ]])

# Given an array

In [48]:
Z = np.array([[[[12, 19, 13, 14, 19],
         [ 9, 19, 13,  6, 16],
         [11, 10, 14, 17, 17],
         [16,  7, 18, 10, 12],
         [15, 19,  5, 14, 11]],

        [[16, 15, 15, 13,  7],
         [16, 19,  9, 10, 15],
         [16, 14,  7,  9,  7],
         [18,  8,  9, 18,  7],
         [16, 11,  9, 12, 15]]],


       [[[12, 16, 11,  8,  6],
         [12,  6, 18, 17, 18],
         [12,  9, 19,  7, 19],
         [ 6,  6,  7,  9,  9],
         [19, 13, 11, 18, 13]],

        [[16, 17,  8, 12, 16],
         [16, 11,  8, 17,  5],
         [11, 18, 11, 18, 10],
         [13,  8, 12,  6,  7],
         [ 9, 18, 19, 19,  9]]]])


get [15, 9, 9,7]

get [19, 9, 10
     14, 7, 9
     8, 9, 18]
     
get [11, 8, 6
     19, 7, 19
     7, 9, 9]

# Sigmoid function

$$sigmoid(x) = 1 / (1 + e⁻ˣ)$$

expected output:


    sigmoid(-1) = 0.2689414213699951

# Tanh function

$$tanh(x)=\frac{exp(-x)}{(1+exp(-x))²}$$

expected output:
    
       tanh(-5) = -0.999909204262595

# Derivative of tanh function


$$df(x)=[\frac{1}{(1+exp(-x))}]*[\frac{1}{(1/(1+exp(-x))}]$$

expected output:
    
       d_tanh(-1) = 0.41997434161402614

# Linear regression cost function

The equation for cost with one variable is:
  $$J(w,b) = \frac{1}{2m} \sum\limits_{i = 0}^{m-1} (f_{w,b}(x^{(i)}) - y^{(i)})^2 \tag{1}$$ 
 
where 
  $$f_{w,b}(x^{(i)}) = wx^{(i)} + b \tag{2}$$

x_train = np.array([1.0, 2.0])  

m = x_train.shape[0]

y_train = np.array([300.0, 500.0])

w = np.array([150])

b = 150

#expected output

    compute_cost(x_train, y_train, w, b) = array([625.])