# For Loop and Range Exercises


## Exercise 1
Create a range from 0 to 50, excluding 50.

In [9]:
for data in range(0,50):
    print(data)

## Exercise 2

Can you you create a list from 1300 to 700 with descending steps of 100, this time including 700?
for data in  range(1300,699,-100):
    print(data)

## Square List

Write a program that appends the square of each number to a new list.

Given : 
 [2,3,4,5,6,7,8]
 
 Expected Output :
 [4, 9, 16, 25, 36, 49]

In [1]:
#Appending square to a new list
x = [2,3,4,5,6,7,8]
z = []
for i in range(len(x)):
    z.append(x[i]**2)
print("Result: ",z)

# output
# Result:  [4, 9, 16, 25, 36, 49]

Result:  [4, 9, 16, 25, 36, 49, 64]

## Factorial of a number

Write a program in Python to display the Factorial of a number.

**Input**
Enter a number : 5

**Desired Output**
Factorial of 5 is 120.

In [2]:
n = input("Enter a number: ")
factorial = 1
if int(n) >= 1:
    for i in range (1,int(n)+1):
        factorial = factorial * i
print("Factorail of ",n , " is : ",factorial)

Enter a number: 6
Factorail of  6  is :  720

##  Even and Odd

**Print even and odd in the list using the for loop**


we are using the for loop to list the even and odd items in the list. 

In each iteration of the list, we apply the condition to check the even numbers, i.e., to check their remainder after dividing by 2. 

If the remainder is 0 (i% 2 == 0), add it to the even list; otherwise, add it to the odd list.


```
Given :

[43, 20, 53, 12, 53, 5, 3, 2]

Expected Output :

Even List:  [20, 12, 2]

Odd List:  [43, 53, 53, 5, 3]
```

In [3]:
nums = [43, 20, 53, 12, 53, 5, 3, 2]

even = []
odd = []

for i in nums:
    if(i % 2 == 0):
        even.append(i)
    else:
        odd.append(i)
        
print("Even List: ",even)
print("Odd List: ",odd)

Even List:  [20, 12, 2]
Odd List:  [43, 53, 53, 5, 3]

# Tuples

## Access value 20 from the tuple

The given tuple is a nested tuple. write a Python program to print the value 20.

```
Given 
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

Expected Output :
20

```

In [1]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

# understand indexing
# tuple1[0] = 'Orange'
# tuple1[1] = [10, 20, 30]
# list1[1][1] = 20

print(tuple1[1][1])

20

## Swap two tuples in Python

```
Given

tuple1 = (11, 22)
tuple2 = (99, 88)

Expected Output

tuple1: (99, 88)
tuple2: (11, 22)
```

In [2]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print(tuple2)
print(tuple1)

(11, 22)
(99, 88)

## Counts the number of occurrences of item 50 from a tuple

```
Given 

tuple1 = (50, 10, 60, 70, 50)


Expected Outcome

2
```

In [3]:
tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2

# Dictionary

## Convert two lists into a dictionary

Below are the two lists. Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value

```
Given

keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

Expected Output:

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

```

In [4]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

res_dict = dict(zip(keys, values))
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

## Merge two Python dictionaries into one

```
Given 

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Expected Output:
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
```

In [6]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = {**dict1, **dict2}
print(dict3)


## or

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = dict1.copy()
dict3.update(dict2)
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

## Print the value of key ‘history’ from the below dict

```
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
```


Expected output:

80

In [7]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

# understand how to located the nested key
# sampleDict['class'] = {'student': {'name': 'Mike', 'marks': {'physics': 70, 'history': 80}}}
# sampleDict['class']['student'] = {'name': 'Mike', 'marks': {'physics': 70, 'history': 80}}
# sampleDict['class']['student']['marks'] = {'physics': 70, 'history': 80}

# solution
print(sampleDict['class']['student']['marks']['history'])

80

## Create a dictionary by extracting the keys from a given dictionary

Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.

```
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

Keys to extract
keys = ["name", "salary"]
```

Expected Output

{'name': 'Kelly', 'salary': 8000}

In [9]:
## solution 1
sampleDict = { 
  "name": "Kelly",
  "age":25, 
  "salary": 8000, 
  "city": "New york" }

keys = ["name", "salary"]

newDict = {k: sampleDict[k] for k in keys}
print(newDict)

## using update() function

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# keys to extract
keys = ["name", "salary"]

# new dict
res = dict()

for k in keys:
    # add current key with its va;ue from sample_dict
    res.update({k: sample_dict[k]})
print(res)

{'name': 'Kelly', 'salary': 8000}
{'name': 'Kelly', 'salary': 8000}

# Set

## Return a new set of identical items from two sets

```
Given 

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

Expected Output

{40, 50, 30}
```

In [10]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.intersection(set2))

{40, 50, 30}

## Update the first set with items that don’t exist in the second set

Given two Python sets, write a Python program to update the first set with items that exist only in the first set and not in the second set.


```
Given

set1 = {10, 20, 30}
set2 = {20, 40, 50}

Expected Output

set1 {10, 30}

```

In [11]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
print(set1)

{10, 30}

## Check if two lists have at-least one element common

Given two lists a, b. Check if two lists have at least one element common in them.

```
Examples:

Input : a = [1, 2, 3, 4, 5]
        b = [5, 6, 7, 8, 9]
Output : True

Input : a=[1, 2, 3, 4, 5]
        b=[6, 7, 8, 9]
Output : False
```

In [12]:
# solution 1

def common_data(list1, list2):
  result = False

  # traverse in the 1st list
  for x in list1:

    # traverse in the 2nd list
    for y in list2:
  
      # if one common
      if x == y:
        result = True
        return result
        
  return result
  
# driver code
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
print(common_data(a, b))

a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9]
print(common_data(a, b))

True
False

In [15]:
## solution 2
## Using Set and Property

# Python program to check
# if two lists have at-least
# one element common
# using set and property

def common_member(a, b):
  a_set = set(a)
  b_set = set(b)
  if (a_set & b_set):
    return True
  else:
    return False
    

a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
print(common_member(a, b))

a =[1, 2, 3, 4, 5]
b =[6, 7, 8, 9]
print(common_member(a, b))

True
False

In [14]:
## solution 3
## using set interaction

# Python program to check
# if two lists have at-least
# one element common
# using set intersection

def common_member(a, b):
  a_set = set(a)
  b_set = set(b)
  if len(a_set.intersection(b_set)) > 0:
    return(True)
  return(False)

a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
print(common_member(a, b))

a =[1, 2, 3, 4, 5]
b =[6, 7, 8, 9]
print(common_member(a, b))

True
False

# Zip Exercises

## Calculating monthly cost in Pairs

You’re going to use this data to calculate your monthly profit. zip() can provide you with a fast way to make the calculations:

<img src="resources/image1.PNG">


**Expected Output**
```
Total profit: 5200.0

Total profit: 5100.0

Total profit: 4800.0
```

In [1]:
total_sales = [52000.00, 51000.00, 48000.00]
prod_cost = [46800.00, 45900.00, 43200.00]
for sales, costs in zip(total_sales, prod_cost):
    profit = sales - costs
    print(f'Total profit: {profit}')

Total profit: 5200.0
Total profit: 5100.0
Total profit: 4800.0

# While Loop

## Printing the square of numbers using while loop

In [ ]:
n = 1

while n <= 5:
    squareNum = n**2
    print(n,squareNum)
    n += 1

## Reversing a number using while loop in Python

```
Given 

Enter a number : 432

Expected Output 

The reversed String is 234
```

In [ ]:
n = int(input("Enter a number: "))
rev = 0

while n!=0:
    r = n%10
    rev = rev * 10 + r
    n = n//10
    
print("Reversed number:",rev)

## Finding the sum of even numbers using while loop

```
Given

Enter a number : 10

Expected Output

Sum of the even number till n is : 30

```

In [ ]:
i = 0
sum = 0
n = int(input("Enter the number n: "))

while  i <= n:
    if i % 2 == 0:
        sum += i
    i += 1
        
print("Sum of even numbers till n:",sum)