In [ ]:
import pandas as pd
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)
pd.set_option('max_colwidth',0)

In [ ]:
import pandas as pd
import datetime
import pandas_datareader.data as web
from pandas import Series, DataFrame


start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2017, 1, 11)

df = web.DataReader("AAPL", 'yahoo', start, end)
df.tail()

In [ ]:
df.describe()

# Pandas Groupby

In [ ]:
df_student = pd.read_csv('resources/pandas_exercise_student.csv',index_col=0)

In [ ]:
df_student

## Exercise 1
Group the dataframe based on school code and get mean, min, and max value of age for each school.

In [2]:
import pandas

df_student = pandas.read_csv('resources/pandas_exercise_student.csv',index_col = 0)

print(df_student)

   school_code class            name date_Of_Birth   age  height  weight  \
S1        s001     V  Alberto Franco     15/05/2002   12     173      35
S2        s002     V    Gino Mcneill     17/05/2002   12     192      32
S3        s003    VI     Ryan Parkes     16/02/1999   13     186      33
S4        s001    VI    Eesha Hinton     25/09/1998   13     167      30
S5        s002     V    Gino Mcneill     11/05/2002   14     151      31
S6        s004    VI    David Parkes     15/09/1997   12     159      32

    address
S1  street1
S2  street2
S3  street3
S4  street1
S5  street2
S6  street4

## Exercise 2

Write a Pandas program to split the following given dataframe into groups based on school code and class.

## Exercise 3
Write a Pandas program to split the following given dataframe into groups based on school code and call a specific group with the name of the group.

## Exercise 4

Write a Pandas program to split a dataset, **group by one column and get mean, min, and max values by group**. 


For example, Using the following dataset **find the mean, min, and max values of purchase amount (purch_amt) group by customer id (customer_id).**

In [ ]:
import pandas

df_raw = pandas.read_csv("resources/raw_data_csv")
df_healthcare = pd.read_csv("resources/29_dec_healthcare_new.csv")

## Exercise 5
Write a Pandas program to split a dataset to group by two columns and count by each row.

## Exercise 6 

Write a Pandas program to split a dataset to group by two columns and then sort the aggregated results within the groups.

In the following dataset **group on** 'customer_id', 'salesman_id' and then **sort** sum of purch_amt within the groups

## Exercise 7

Write a Pandas program to split the following dataframe into groups and calculate monthly purchase amount.

## Exercise 8

Write a Pandas program to split the following datasets into groups on customer id and calculate the number of customers starting with 'C', the list of all products and the difference of maximum purchase amount and minimum purchase amount

## Exercise 9

Write a Pandas program to split a given dataset, group by one column and apply an aggregate function to few columns and another aggregate function to the rest of the columns of the dataframe.

In [ ]:
import pandas as pd
df = pd.read_csv("resources/sales_dataset.csv")

df.head()

# join two dataframes along rows

## Exercise 1
Write a Pandas program to join the two given dataframes **along rows** and assign all data using pd.concat.

In [ ]:
import pandas as pd

student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

result_data = pd.concat([student_data1, student_data2])
result_data

## Exercise 2
Join two dataframes **along columns**

## Exercise 3

Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id.

In [ ]:
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

exam_data = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
        'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]})

## Exercise 4
Write a Pandas program to join the two dataframes using the common column of both dataframes.

## Exercise 5

Write a Pandas program to join the two dataframes with matching records from both sides where available. Write a Pandas program to join (left join) the two dataframes using keys from left dataframe only.

In [ ]:
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']}) 
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})

# Healthcare dataset

read csv files named 
raw_data.csv, 29_dec_healthcare_new.csv 
MT_data_from_raw - covid_faq.csv from resources folder

In [ ]:
df_raw = pd.read_csv('resources/raw_data.csv')
df_healthcare = pd.read_csv('resources/29_dec_healthcare_new.csv')
df_covid = pd.read_csv('resources/MT_data_from_raw - covid_faq.csv')

In [ ]:
df_healthcare.head()

## make all csv with the same column names and index. Then combine them.

## drop nan rows and duplicate rows

## Split the sentences with "\n and ။"

## Get sentence length of each rows

## remove punctuations from sentences

## lower all english sentences

## get sentences with covid keywords

## get sentences with burmese end words