# Query

## dataframe query

**Dataframe.query()**

```
- expr – expression takes conditions to query rows
- inplace – Defaults to False. When set toTrue, it updates the referring DataFrame and query() method returns None.
- **kwargs –  Keyword arguments that works with eval()
```

In [1]:
## build the dataframe
import pandas as pd
import numpy as np
technologies= {
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas"],
    'Fee' :[22000,25000,23000,24000,26000],
    'Duration':['30days','50days','30days', None,np.nan],
    'Discount':[1000,2300,1000,1200,2500]
          }
df = pd.DataFrame(technologies)
df

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
2   Hadoop  23000   30days      1000
3   Python  24000     None      1200
4   Pandas  26000      NaN      2500

In [17]:
df2=df.query("Courses == 'Spark'")
df2

  Courses    Fee Duration  Discount
0   Spark  22000   30days      1000

In [13]:
# Query Rows by using Python variable
value='Spark'
df2=df.query("Courses == @value")
df2

  Courses    Fee Duration  Discount
0   Spark  22000   30days      1000

In [14]:
# Replace current esisting DataFrame
df.query("Courses == 'Spark'",inplace=True)
df

  Courses    Fee Duration  Discount
0   Spark  22000   30days      1000

In [18]:
# not equals condition
df2=df.query("Courses != 'Spark'")
df2

   Courses    Fee Duration  Discount
1  PySpark  25000   50days      2300
2   Hadoop  23000   30days      1000
3   Python  24000     None      1200
4   Pandas  26000      NaN      2500

##  Select Rows Based on List of Column Values

In [20]:
print(df.query("Courses in ('Spark','PySpark')"))

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300

In [21]:
# Query Rows by list of values
values=['Spark','PySpark']
print(df.query("Courses in @values"))

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300

In [23]:
# Query Rows not in list of values
values=['Spark','PySpark']
df.query("Courses not in @values")

  Courses    Fee Duration  Discount
2  Hadoop  23000   30days      1000
3  Python  24000     None      1200
4  Pandas  26000      NaN      2500

## Query with Multiple Conditions

In [29]:
df.query("Fee >= 23000 and Fee <= 24000")

  Courses    Fee Duration  Discount
2  Hadoop  23000   30days      1000
3  Python  24000     None      1200

# Pivot Table

Using a panda’s pivot table can be a good alternative because it is:

- Quicker
- Easy to use to generate a report or email
- More flexible because it can define custom aggregation functions

In [8]:
import pandas as pd
df = pd.read_excel("resources/sales-funnel.xlsx")
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Account   17 non-null     int64
 1   Name      17 non-null     object
 2   Rep       17 non-null     object
 3   Manager   17 non-null     object
 4   Product   17 non-null     object
 5   Quantity  17 non-null     int64
 6   Price     17 non-null     int64
 7   Status    17 non-null     object
dtypes: int64(3), object(5)
memory usage: 1.2+ KB

In [10]:
df.Status.value_counts()

presented    6
pending      4
won          4
declined     3
Name: Status, dtype: int64

In [11]:
df["Status"] = df["Status"].astype("category")
df["Status"].cat.set_categories(["won","pending","presented","declined"],inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Account   17 non-null     int64
 1   Name      17 non-null     object
 2   Rep       17 non-null     object
 3   Manager   17 non-null     object
 4   Product   17 non-null     object
 5   Quantity  17 non-null     int64
 6   Price     17 non-null     int64
 7   Status    17 non-null     category
dtypes: category(1), int64(3), object(4)
memory usage: 1.3+ KB

In [5]:
df.head(2)

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented

In [6]:
pd.pivot_table(df,index=["Name"])

                              Account   Price  Quantity
Name
Barton LLC                     740150   35000  1.000000
Fritsch, Russel and Anderson   737550   35000  1.000000
Herman LLC                     141962   65000  2.000000
Jerde-Hilpert                  412290    5000  2.000000
Kassulke, Ondricka and Metz    307599    7000  3.000000
Keeling LLC                    688981  100000  5.000000
Kiehn-Spinka                   146832   65000  2.000000
Koepp Ltd                      729833   35000  2.000000
Kulas Inc                      218895   25000  1.500000
Purdy-Kunde                    163416   30000  1.000000
Stokes LLC                     239344    7500  1.000000
Trantow-Barrows                714466   15000  1.333333

## Multiple Index

In [7]:
pd.pivot_table(df,index=["Name","Rep","Manager"])

,,,Account,Price,Quantity
Name,Rep,Manager,,,
Barton LLC,John Smith,Debra Henley,740150,35000,1.000000
"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,737550,35000,1.000000
Herman LLC,Cedric Moss,Fred Anderson,141962,65000,2.000000
Jerde-Hilpert,John Smith,Debra Henley,412290,5000,2.000000
"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,307599,7000,3.000000
Keeling LLC,Wendy Yule,Fred Anderson,688981,100000,5.000000
Kiehn-Spinka,Daniel Hilton,Debra Henley,146832,65000,2.000000
Koepp Ltd,Wendy Yule,Fred Anderson,729833,35000,2.000000
Kulas Inc,Daniel Hilton,Debra Henley,218895,25000,1.500000
Purdy-Kunde,Cedric Moss,Fred Anderson,163416,30000,1.000000
Stokes LLC,Cedric Moss,Fred Anderson,239344,7500,1.000000
Trantow-Barrows,Craig Booker,Debra Henley,714466,15000,1.333333

In [8]:
pd.pivot_table(df,index=["Manager","Rep"])

                              Account         Price  Quantity
Manager       Rep
Debra Henley  Craig Booker   720237.0  20000.000000  1.250000
              Daniel Hilton  194874.0  38333.333333  1.666667
              John Smith     576220.0  20000.000000  1.500000
Fred Anderson Cedric Moss    196016.5  27500.000000  1.250000
              Wendy Yule     614061.5  44250.000000  3.000000

## Adding values

In [44]:
## remove the unnecessary columns

pd.pivot_table(df,index=["Manager","Rep"],values=["Price"])

                                    Price
Manager       Rep
Debra Henley  Craig Booker   20000.000000
              Daniel Hilton  38333.333333
              John Smith     20000.000000
Fred Anderson Cedric Moss    27500.000000
              Wendy Yule     44250.000000

## Adding values with aggfunc

In [9]:
# The price column automatically averages the data but we can do a count or a sum. Adding them is simple using aggfunc.
pd.pivot_table(df,index=["Manager","Rep"],values=["Price"],aggfunc=np.sum)

                              Price
Manager       Rep
Debra Henley  Craig Booker    80000
              Daniel Hilton  115000
              John Smith      40000
Fred Anderson Cedric Moss    110000
              Wendy Yule     177000

## Adding multiple values

In [10]:

pd.pivot_table(df,index=["Manager","Rep"],values=["Price"])

                                    Price
Manager       Rep
Debra Henley  Craig Booker   20000.000000
              Daniel Hilton  38333.333333
              John Smith     20000.000000
Fred Anderson Cedric Moss    27500.000000
              Wendy Yule     44250.000000

In [47]:
# aggfunc can take a list of functions
pd.pivot_table(df,index=["Manager","Rep"],values=["Price"],aggfunc=[np.mean,len])

                                     mean   len
                                    Price Price
Manager       Rep
Debra Henley  Craig Booker   20000.000000     4
              Daniel Hilton  38333.333333     3
              John Smith     20000.000000     2
Fred Anderson Cedric Moss    27500.000000     4
              Wendy Yule     44250.000000     4

## Adding expanded values

In [48]:
# If we want to see sales broken down by the products, the columns variable allows us to define one or more columns.
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

In [50]:
df.Product.value_counts()

CPU            9
Maintenance    4
Software       3
Monitor        1
Name: Product, dtype: int64

In [49]:
pd.pivot_table(df,index=["Manager","Rep"],values=["Price"],
               columns=["Product"],aggfunc=[np.sum])

                                  sum
                                Price
Product                           CPU Maintenance Monitor Software
Manager       Rep
Debra Henley  Craig Booker    65000.0      5000.0     NaN  10000.0
              Daniel Hilton  105000.0         NaN     NaN  10000.0
              John Smith      35000.0      5000.0     NaN      NaN
Fred Anderson Cedric Moss     95000.0      5000.0     NaN  10000.0
              Wendy Yule     165000.0      7000.0  5000.0      NaN

In [51]:
# remove the NaN values

pd.pivot_table(df,index=["Manager","Rep"],values=["Price"],
               columns=["Product"],aggfunc=[np.sum],fill_value=0)

                                sum
                              Price
Product                         CPU Maintenance Monitor Software
Manager       Rep
Debra Henley  Craig Booker    65000        5000       0    10000
              Daniel Hilton  105000           0       0    10000
              John Smith      35000        5000       0        0
Fred Anderson Cedric Moss     95000        5000       0    10000
              Wendy Yule     165000        7000    5000        0

In [52]:
pd.pivot_table(df,index=["Manager","Rep"],values=["Price","Quantity"],
               columns=["Product"],aggfunc=[np.sum],fill_value=0)

                                sum                                        \
                              Price                              Quantity
Product                         CPU Maintenance Monitor Software      CPU
Manager       Rep
Debra Henley  Craig Booker    65000        5000       0    10000        2
              Daniel Hilton  105000           0       0    10000        4
              John Smith      35000        5000       0        0        1
Fred Anderson Cedric Moss     95000        5000       0    10000        3
              Wendy Yule     165000        7000    5000        0        7



Product                     Maintenance Monitor Software
Manager       Rep
Debra Henley  Craig Booker            2       0        1
              Daniel Hilton           0       0        1
              John Smith              2       0        0
Fred Anderson Cedric Moss             1       0        1
              Wendy Yule              3       2        0

In [53]:
pd.pivot_table(df,index=["Manager","Rep","Product"],
               values=["Price","Quantity"],aggfunc=[np.sum],fill_value=0)

                                            sum
                                          Price Quantity
Manager       Rep           Product
Debra Henley  Craig Booker  CPU           65000        2
                            Maintenance    5000        2
                            Software      10000        1
              Daniel Hilton CPU          105000        4
                            Software      10000        1
              John Smith    CPU           35000        1
                            Maintenance    5000        2
Fred Anderson Cedric Moss   CPU           95000        3
                            Maintenance    5000        1
                            Software      10000        1
              Wendy Yule    CPU          165000        7
                            Maintenance    7000        3
                            Monitor        5000        2

## margin = True

In [15]:
pd.pivot_table(df,index=["Manager","Rep","Product"],
               values=["Price","Quantity"],
               aggfunc=[np.sum,np.mean],fill_value=0)

                                            sum            mean
                                          Price Quantity  Price Quantity
Manager       Rep           Product
Debra Henley  Craig Booker  CPU           65000        2  32500      1.0
                            Maintenance    5000        2   5000      2.0
                            Software      10000        1  10000      1.0
              Daniel Hilton CPU          105000        4  52500      2.0
                            Software      10000        1  10000      1.0
              John Smith    CPU           35000        1  35000      1.0
                            Maintenance    5000        2   5000      2.0
Fred Anderson Cedric Moss   CPU           95000        3  47500      1.5
                            Maintenance    5000        1   5000      1.0
                            Software      10000        1  10000      1.0
              Wendy Yule    CPU          165000        7  82500      3.5
                            Maintenance    7000        3   7000      3.0
                            Monitor        5000        2   5000      2.0

In [16]:
pd.pivot_table(df,index=["Manager","Rep","Product"],
               values=["Price","Quantity"],
               aggfunc=[np.sum,np.mean],fill_value=0,margins=True)

                                            sum                   mean  \
                                          Price Quantity         Price
Manager       Rep           Product
Debra Henley  Craig Booker  CPU           65000        2  32500.000000
                            Maintenance    5000        2   5000.000000
                            Software      10000        1  10000.000000
              Daniel Hilton CPU          105000        4  52500.000000
                            Software      10000        1  10000.000000
              John Smith    CPU           35000        1  35000.000000
                            Maintenance    5000        2   5000.000000
Fred Anderson Cedric Moss   CPU           95000        3  47500.000000
                            Maintenance    5000        1   5000.000000
                            Software      10000        1  10000.000000
              Wendy Yule    CPU          165000        7  82500.000000
                            Maintenance    7000        3   7000.000000
                            Monitor        5000        2   5000.000000
All                                      522000       30  30705.882353


                                         Quantity
Manager       Rep           Product
Debra Henley  Craig Booker  CPU          1.000000
                            Maintenance  2.000000
                            Software     1.000000
              Daniel Hilton CPU          2.000000
                            Software     1.000000
              John Smith    CPU          1.000000
                            Maintenance  2.000000
Fred Anderson Cedric Moss   CPU          1.500000
                            Maintenance  1.000000
                            Software     1.000000
              Wendy Yule    CPU          3.500000
                            Maintenance  3.000000
                            Monitor      2.000000
All                                      1.764706

In [59]:
pd.pivot_table(df,index=["Manager","Status"],columns=["Product"],values=["Quantity","Price"],
               aggfunc={"Quantity":len,"Price":np.sum},fill_value=0)

                          Price                              Quantity  \
Product                     CPU Maintenance Monitor Software      CPU
Manager       Status
Debra Henley  won         65000           0       0        0        1
              pending     40000       10000       0        0        1
              presented   30000           0       0    20000        1
              declined    70000           0       0        0        2
Fred Anderson won        165000        7000       0        0        2
              pending         0        5000       0        0        0
              presented   30000           0    5000    10000        1
              declined    65000           0       0        0        1


Product                 Maintenance Monitor Software
Manager       Status
Debra Henley  won                 0       0        0
              pending             2       0        0
              presented           0       0        2
              declined            0       0        0
Fred Anderson won                 1       0        0
              pending             1       0        0
              presented           0       1        1
              declined            0       0        0

In [60]:
table = pd.pivot_table(df,index=["Manager","Status"],columns=["Product"],values=["Quantity","Price"],
               aggfunc={"Quantity":len,"Price":[np.sum,np.mean]},fill_value=0)
table

                         Price                                       \
                          mean                                  sum
Product                    CPU Maintenance Monitor Software     CPU
Manager       Status
Debra Henley  won        65000           0       0        0   65000
              pending    40000        5000       0        0   40000
              presented  30000           0       0    10000   30000
              declined   35000           0       0        0   70000
Fred Anderson won        82500        7000       0        0  165000
              pending        0        5000       0        0       0
              presented  30000           0    5000    10000   30000
              declined   65000           0       0        0   65000

                                                     Quantity              \
                                                          len
Product                 Maintenance Monitor Software      CPU Maintenance
Manager       Status
Debra Henley  won                 0       0        0        1           0
              pending         10000       0        0        1           2
              presented           0       0    20000        1           0
              declined            0       0        0        2           0
Fred Anderson won              7000       0        0        2           1
              pending          5000       0        0        0           1
              presented           0    5000    10000        1           0
              declined            0       0        0        1           0



Product                 Monitor Software
Manager       Status
Debra Henley  won             0        0
              pending         0        0
              presented       0        2
              declined        0        0
Fred Anderson won             0        0
              pending         0        0
              presented       1        1
              declined        0        0

## Advanced Pivot Table Filtering

In [61]:
table.query('Manager == ["Debra Henley"]')

                        Price                                                  \
                         mean                                 sum
Product                   CPU Maintenance Monitor Software    CPU Maintenance
Manager      Status
Debra Henley won        65000           0       0        0  65000           0
             pending    40000        5000       0        0  40000       10000
             presented  30000           0       0    10000  30000           0
             declined   35000           0       0        0  70000           0

                                        Quantity
                                             len
Product                Monitor Software      CPU Maintenance Monitor Software
Manager      Status
Debra Henley won             0        0        1           0       0        0
             pending         0        0        1           2       0        0
             presented       0    20000        1           0       0        2
             declined        0        0        2           0       0        0

In [62]:
table.query('Status == ["pending","won"]')

                       Price                                                   \
                        mean                                  sum
Product                  CPU Maintenance Monitor Software     CPU Maintenance
Manager       Status
Debra Henley  won      65000           0       0        0   65000           0
              pending  40000        5000       0        0   40000       10000
Fred Anderson won      82500        7000       0        0  165000        7000
              pending      0        5000       0        0       0        5000

                                       Quantity
                                            len
Product               Monitor Software      CPU Maintenance Monitor Software
Manager       Status
Debra Henley  won           0        0        1           0       0        0
              pending       0        0        1           2       0        0
Fred Anderson won           0        0        2           1       0        0
              pending       0        0        0           1       0        0

# Pandas's melt

The Pandas melt() function is within many other methods used to reshape the pandas DataFrames from wide to a long format which is particularly useful in data science. However, the pd.melt() function is the most efficient and flexible among them. The pd.melt() function unpivots/melts the pandas DataFrame from a wide to a long format.

<img src="resources/melt.png">

## wide vs long dataframe

<img src="resources/wide_df.png">
<img src="resources/long_df.png">

In [17]:
#Raw data in form of dictionary:
data = {"Person":["Alan","Berta","Charlie","Danielle"], #Name of Person
        "House":["A","B","A","C"],                      #Name of houses they live in
        "Age":[32,46,35,28],                            #Age of Person
        "Books":[100,30,20,40],                         #Number of books owned
        "Movies":[10,20,80,60]                          #Number of movie watched
        }

#Converting the raw data into pandas DataFrame:
data_wide = pd.DataFrame(data)

In [16]:
data_wide

     Person House  Age  Books  Movies
0      Alan     A   32    100      10
1     Berta     B   46     30      20
2   Charlie     A   35     20      80
3  Danielle     C   28     40      60

## without any parameters

In [17]:
data_wide.melt()

   variable     value
0    Person      Alan
1    Person     Berta
2    Person   Charlie
3    Person  Danielle
4     House         A
5     House         B
6     House         A
7     House         C
8       Age        32
9       Age        46
10      Age        35
11      Age        28
12    Books       100
13    Books        30
14    Books        20
15    Books        40
16   Movies        10
17   Movies        20
18   Movies        80
19   Movies        60

## with id_vars

In [21]:
data_wide.head()

     Person House  Age  Books  Movies
0      Alan     A   32    100      10
1     Berta     B   46     30      20
2   Charlie     A   35     20      80
3  Danielle     C   28     40      60

In [20]:
data_wide.melt(id_vars=["Person"])

      Person variable value
0       Alan    House     A
1      Berta    House     B
2    Charlie    House     A
3   Danielle    House     C
4       Alan      Age    32
5      Berta      Age    46
6    Charlie      Age    35
7   Danielle      Age    28
8       Alan    Books   100
9      Berta    Books    30
10   Charlie    Books    20
11  Danielle    Books    40
12      Alan   Movies    10
13     Berta   Movies    20
14   Charlie   Movies    80
15  Danielle   Movies    60

## with value_vars

In [68]:
data_wide.melt(id_vars=["Person","House"],           #Identifier columns
               value_vars=["Age","Books","Movies"])

      Person House variable  value
0       Alan     A      Age     32
1      Berta     B      Age     46
2    Charlie     A      Age     35
3   Danielle     C      Age     28
4       Alan     A    Books    100
5      Berta     B    Books     30
6    Charlie     A    Books     20
7   Danielle     C    Books     40
8       Alan     A   Movies     10
9      Berta     B   Movies     20
10   Charlie     A   Movies     80
11  Danielle     C   Movies     60

In [69]:
data_wide.melt(id_vars=["Person"],             #Identifier columns
               value_vars=["Books","Movies"])

     Person variable  value
0      Alan    Books    100
1     Berta    Books     30
2   Charlie    Books     20
3  Danielle    Books     40
4      Alan   Movies     10
5     Berta   Movies     20
6   Charlie   Movies     80
7  Danielle   Movies     60

In [70]:
data_wide.melt(id_vars=["Person","House"],          #Identifier columns
               value_vars=["Age","Books","Movies"], #Columns to be melted
               var_name="Info",                     #Renaming the variable column name
               value_name="Numerical")

      Person House    Info  Numerical
0       Alan     A     Age         32
1      Berta     B     Age         46
2    Charlie     A     Age         35
3   Danielle     C     Age         28
4       Alan     A   Books        100
5      Berta     B   Books         30
6    Charlie     A   Books         20
7   Danielle     C   Books         40
8       Alan     A  Movies         10
9      Berta     B  Movies         20
10   Charlie     A  Movies         80
11  Danielle     C  Movies         60

# Dataframe assign()

Dataframe.assign() method assign new columns to a DataFrame, returning a new object (a copy) with the new columns added to the original ones. Existing columns that are re-assigned will be overwritten.

In [72]:
import pandas as pd

df = pd.read_csv("resources/nba.csv")
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [73]:
# increase the salary by 10 %
df.assign(Revised_Salary = lambda x: df['Salary'] + df['Salary']/10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Revised_Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,8503370.7
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,7475728.7
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,1263504.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,5500000.0
...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,2676666.3
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,990000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,3190000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,1042003.6
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
#  Assigning more than one column at a time
# importing pandas as pd
import pandas as pd

# Making data frame from the csv file
df = pd.read_csv("resources/nba.csv")

# First column ='New_Team', this column
# will append '_GO' at the end of each team name.
# Second column ='Revised_Salary' will increase
# the salary of all employees by 10 %
df.assign(New_team = lambda x: df['Team']+'_GO',Revised_Salary = lambda x: df['Salary'] + df['Salary'] / 10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,New_team,Revised_Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,Boston Celtics_GO,8503370.7
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,Boston Celtics_GO,7475728.7
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,Boston Celtics_GO,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,Boston Celtics_GO,1263504.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,Boston Celtics_GO,5500000.0
...,...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,Utah Jazz_GO,2676666.3
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,Utah Jazz_GO,990000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,Utah Jazz_GO,3190000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,Utah Jazz_GO,1042003.6
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Pandas Zip

In [2]:
import pandas as pd
df = pd.DataFrame({
    "fruit":["apple","orange","pine apple"],
    "price 1":[300,400,500],
    "price 2":[100,300,600]
})

In [77]:
df["total price"] = list(zip(df["price 1"],df["price 2"]))

In [78]:
df

        fruit  price 1  price 2 total price
0       apple      300      100  (300, 100)
1      orange      400      300  (400, 300)
2  pine apple      500      600  (500, 600)

In [5]:
def convert_int_to_float(row):
    #idx = row["idx"]
    price1 = float(row["price 1"])
    price2 = float(row["price 2"])
    return price1,price2

In [6]:
df["price 1 float"],df["price 2 float"] = zip(*df.apply(convert_int_to_float, axis=1))

In [7]:
df

        fruit  price 1  price 2  price 1 float  price 2 float
0       apple      300      100          300.0          100.0
1      orange      400      300          400.0          300.0
2  pine apple      500      600          500.0          600.0

# Dataframe Style

In [27]:
df = pd.read_csv('resources/nba.csv')

In [28]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df.style.set_properties(**{'background-color': 'white',
                           'color': 'green'})

In [29]:
df.style.highlight_null(null_color='red')

In [33]:
df.style.highlight_max(subset='Salary', axis=0)

In [36]:
import pandas as pd
import numpy as np
  
def color_negative_red(val):
    color = 'blue' if val > 90 else 'black'
    return 'color: % s' % color
  
# creating a DataFrame
dict = {'Maths' : [87, 91, 97, 95],
        'Science' : [83, 99, 84, 76]}
df = pd.DataFrame(dict)
  
# displaying the DataFrame
df.style.applymap(color_negative_red)