In [ ]:
import pandas as pd
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)
pd.set_option('max_colwidth',0)

In [ ]:
import pandas as pd
import datetime
import pandas_datareader.data as web
from pandas import Series, DataFrame

start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2017, 1, 11)

df = web.DataReader("AAPL", 'yahoo', start, end)
df.tail()

In [ ]:
df.describe()

# Pandas Groupby

In [ ]:
df_student = pd.read_csv('resources/pandas_exercise_student.csv',index_col=0)

In [ ]:
df_student

## Exercise 1
Group the dataframe based on school code and get mean, min, and max value of age for each school.

In [9]:
import pandas

df_student = pandas.read_csv('resources/pandas_exercise_student.csv',index_col = 0)

print(df_student)

grouped = df_student.groupby('school_code').agg({"age":['mean', 'min', 'max']})

print(grouped)

   school_code class            name date_Of_Birth   age  height  weight  \
S1        s001     V  Alberto Franco     15/05/2002   12     173      35
S2        s002     V    Gino Mcneill     17/05/2002   12     192      32
S3        s003    VI     Ryan Parkes     16/02/1999   13     186      33
S4        s001    VI    Eesha Hinton     25/09/1998   13     167      30
S5        s002     V    Gino Mcneill     11/05/2002   14     151      31
S6        s004    VI    David Parkes     15/09/1997   12     159      32

    address
S1  street1
S2  street2
S3  street3
S4  street1
S5  street2
S6  street4
              age
             mean min max
school_code
s001         12.5  12  13
s002         13.0  12  14
s003         13.0  13  13
s004         12.0  12  12

## Exercise 2

Write a Pandas program to split the following given dataframe into groups based on school code and class.

In [22]:
import pandas

df_student = pandas.read_csv('resources/pandas_exercise_student.csv',index_col = 0)

grouped = df_student.groupby(["school_code", "class"])

for school_code, className in grouped:
    print(school_code)
    print(className)

('s001', 'V')
   school_code class            name date_Of_Birth   age  height  weight  \
S1        s001     V  Alberto Franco     15/05/2002   12     173      35

    address
S1  street1
('s001', 'VI')
   school_code class          name date_Of_Birth   age  height  weight  \
S4        s001    VI  Eesha Hinton     25/09/1998   13     167      30

    address
S4  street1
('s002', 'V')
   school_code class          name date_Of_Birth   age  height  weight  \
S2        s002     V  Gino Mcneill     17/05/2002   12     192      32
S5        s002     V  Gino Mcneill     11/05/2002   14     151      31

    address
S2  street2
S5  street2
('s003', 'VI')
   school_code class         name date_Of_Birth   age  height  weight  address
S3        s003    VI  Ryan Parkes     16/02/1999   13     186      33  street3
('s004', 'VI')
   school_code class          name date_Of_Birth   age  height  weight  \
S6        s004    VI  David Parkes     15/09/1997   12     159      32

    address
S6  street4

## Exercise 3
Write a Pandas program to split the following given dataframe into groups based on school code and call a specific group with the name of the group.

In [25]:
import pandas

df_student = pandas.read_csv('resources/pandas_exercise_student.csv',index_col = 0)

grouped = df_student.groupby(["school_code"])

print(grouped.get_group("s001"))

print(grouped.get_group("s002"))

   school_code class            name date_Of_Birth   age  height  weight  \
S1        s001     V  Alberto Franco     15/05/2002   12     173      35
S4        s001    VI    Eesha Hinton     25/09/1998   13     167      30

    address
S1  street1
S4  street1
   school_code class          name date_Of_Birth   age  height  weight  \
S2        s002     V  Gino Mcneill     17/05/2002   12     192      32
S5        s002     V  Gino Mcneill     11/05/2002   14     151      31

    address
S2  street2
S5  street2

## Exercise 4

Write a Pandas program to split a dataset, **group by one column and get mean, min, and max values by group**. 


For example, Using the following dataset **find the mean, min, and max values of purchase amount (purch_amt) group by customer id (customer_id).**

In [29]:
import pandas

df_raw = pandas.read_csv("resources/raw_data.csv")
df_healthcare = pandas.read_csv("resources/29_dec_healthcare_new.csv")

print(df_raw)
print(df_healthcare)

grouped_raw = 

grouped_healthcare =


grouped = df_student.groupby('school_code').agg({"age":['mean', 'min', 'max']})

print(grouped)

                                                 message
0                                             My Account
1                                                      4
2                          အမျိုးသမီးများနှင့်ကျန်းမာရေး
3                       မီးတွင်းကာလ ခေါင်းကိုက်ခြင်းများ
4                                                      5
...                                                  ...
29721                                                  »
29722                            ကလေးများနှင့်ကျန်းမာရေး
29723                                                  4
29724                                                  5
29725            ●        ပစ္စည်းတစ်ခုခု မျိုမိခြင်း ...

[29726 rows x 1 columns]
                                                     0                 idx
0                                   သွေးတိုး ကျ စေ တယ်    idx_new_health_0
1                              ဆီးချို တိုင်း ကြည့် ပါ    idx_new_health_1
2                                ဆီးချို အတွက် ဆေး လား    idx_new_health_2
3                                  သွေးတိုး နေ လို့ ပါ    idx_new_health_3
4                             ဆီးချို ကို လဲ ကျ စေ တယ်    idx_new_health_4
..                                                 ...                 ...
691  ၀က်တစ်သျှူး လို အရာ တွေ က တော့ လက် ကို သုတ် မယ...  idx_new_health_313
692  ကိုရိုနာ ဗိုင်းရပ်စ် ကူးစက် ခံ ရ သော ကလေး များ...  idx_new_health_314
693                                ချက်ချင်း လျှော် ပါ  idx_new_health_315
694                                 သေချာ အခြောက်ခံ ပါ  idx_new_health_316
695  အဝတ် တွေ ကို ခါ တာ မျိုး မ လုပ် ပါ နဲ့ ပိုး တွ...  idx_new_health_317

[696 rows x 2 columns]

## Exercise 5
Write a Pandas program to split a dataset to group by two columns and count by each row.

## Exercise 6 

Write a Pandas program to split a dataset to group by two columns and then sort the aggregated results within the groups.

In the following dataset **group on** 'customer_id', 'salesman_id' and then **sort** sum of purch_amt within the groups

In [2]:
import pandas

df_orders = pandas.read_csv("resources/purchases_order.csv")

grouped = df_orders.groupby(["customer_id", "salesman_id"])

print(grouped.sort_values(by=["salesman_id"], inplace = True))

AttributeError: 'DataFrameGroupBy' object has no attribute 'sort_values'

## Exercise 7

Write a Pandas program to split the following dataframe into groups and calculate monthly purchase amount.

## Exercise 8

Write a Pandas program to split the following datasets into groups on customer id and calculate the number of customers starting with 'C', the list of all products and the difference of maximum purchase amount and minimum purchase amount

## Exercise 9

Write a Pandas program to split a given dataset, group by one column and apply an aggregate function to few columns and another aggregate function to the rest of the columns of the dataframe.

In [ ]:
import pandas as pd
df = pd.read_csv("resources/sales_dataset.csv")

df.head()

# join two dataframes along rows

## Exercise 1
Write a Pandas program to join the two given dataframes **along rows** and assign all data using pd.concat.

In [ ]:
import pandas as pd

student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

result_data = pd.concat([student_data1, student_data2])
result_data

## Exercise 2
Join two dataframes **along columns**

## Exercise 3

Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id.

In [ ]:
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

exam_data = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
        'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]})

## Exercise 4
Write a Pandas program to join the two dataframes using the common column of both dataframes.

## Exercise 5

Write a Pandas program to join the two dataframes with matching records from both sides where available. Write a Pandas program to join (left join) the two dataframes using keys from left dataframe only.

In [ ]:
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']}) 
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})

# Healthcare dataset

read csv files named 
raw_data.csv, 29_dec_healthcare_new.csv 
MT_data_from_raw - covid_faq.csv from resources folder

In [ ]:
df_raw = pd.read_csv('resources/raw_data.csv')
df_healthcare = pd.read_csv('resources/29_dec_healthcare_new.csv')
df_covid = pd.read_csv('resources/MT_data_from_raw - covid_faq.csv')

In [ ]:
df_healthcare.head()

## make all csv with the same column names and index. Then combine them.

## drop nan rows and duplicate rows

## Split the sentences with "\n and ။"

## Get sentence length of each rows

## remove punctuations from sentences

## lower all english sentences

## get sentences with covid keywords

## get sentences with burmese end words